{% load static %}

<div class="columns is-multiline">
	<div class="column">

		<!-- Beneficiary List -->
		<div class="tasks-wrapper">
			<div class="header">
				<h4 class="no-margin-bottom">
					Total Count <small>({{ total_beneficiary_count }})</small>
				</h4>
			</div>

			<!-- Beneficiary List Cards-->
			{% for beneficiary in beneficiary_list %}
			<div class="task-card">
				<div class="card-progress" data-progress="83"></div>
				<div class="card-inner">
					<div class="task-meta">
						<span class="task-title">{{ beneficiary.name|title }}</span>
						<span class="task-due-date">
							type: {{ beneficiary.org_type|lower }} | ward: {{ beneficiary.ward.name|lower }} | members: {{ beneficiary.total_beneficiaries }} | email: {{ beneficiary.email }} | registration date: {{ beneficiary.registered_date }}
                        </span>
					</div>
					<div class="task-info">
						<div class="task-members">
							{% if beneficiary.logo %}
							<div class="face">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{{ beneficiary.logo.url }}"/>
							</div>
							{% endif %}
						</div>
						<div class="subtasks-count">
							<i class="sl sl-icon-check"></i>
							<span>active</span>
						</div>
						<div class="more-drop">
							<!-- Beneficiary dropdown -->
							{% if beneficiary.sub_project %}
								<a href="{% url 'tralard:subproject-beneficiary' project_slug beneficiary.sub_project.subcomponent.slug beneficiary.sub_project.slug %}" id="main-beneficiary-redirector123{{beneficiary.slug}}">
									<span class="member-count" data-toggle="tooltip" data-placement="top" data-title="Click to go to main list" data-trigger="hover" data-original-title="">
										<i class="sl sl-icon-arrow-right"></i>
									</span>
								</a>
							{% comment %} {% else %} {% endcomment %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% if beneficiary_list.paginator.num_pages != 1 %}
			<div class="pagination align-center" style="align-content: center;">
				<hr/>
				<span style="font-size: x-medium;" class="step-links">
					{% if beneficiary_list.has_previous %}
					<a style="padding: .2em; border-radius: 5px; padding-right: 0.3em; padding-left: 0.3em; color: white; background: #687881; border-color: #21546d; font:200;"
					   href="?beneficiary_page=1">&laquo;&laquo; first</a>
					<a style="padding: .2em; border-radius: 50px; padding-right: 0.3em; padding-left: 0.3em; color: white; background: #687881; border-color: #21546d; font:200;"
					   href="?beneficiary_page={{ beneficiary_list.previous_page_number }}" data-title="previous page">&laquo;</a>
					{% endif %}
					
					<span class="current" style="color: #21546d;">
						{{ beneficiary_list.number }} of {{ beneficiary_list.paginator.num_pages }}.
					</span>
					{% if beneficiary_list.has_next %}
					<a style="padding: .2em; border-radius: 50px; padding-right: 0.3em; padding-left: 0.3em; color: white; background: #687881; border-color: #21546d; font:200;"
					   href="?beneficiary_page={{ beneficiary_list.next_page_number }}"
					   data-title="next page">&raquo;</a>
					<a style="padding: .2em; border-radius: 5px; padding-right: 0.3em; padding-left: 0.3em; color: white; background: #687881; border-color: #21546d; font:200;"
					   href="?beneficiary_page={{ beneficiary_list.paginator.num_pages }}">last &raquo;&raquo;</a>
					{% endif %}
				</span>
			</div>
			{% else %}
			{% endif %}
		</div>
	</div>
</div>

{% block javascripts %}
<script>
    const navigatorButton = document.getElementById("main-beneficiary-redirector123{{beneficiary.slug}}");
    navigatorButton.addEventListener("click", () => {

    });
</script>
{% endblock javascripts %}