{% load static %}

<div class="columns is-multiline">
	<div class="column">

		<!-- Beneficiary List -->
		<div class="tasks-wrapper">



			<div class="column is-12 is-hidden-mobile">

				<div class="is-document-list" style="overflow: unset;">
					<!-- Documents table -->
					<table class="table documents-table">
						<!-- Header -->
						<thead>
							<tr>
								
								<th>
									<span>Name</span>
								</th>

								<th>
									<span>Unit of Measure</span>
								</th>

								<th>
									<span>Baseline</span>
								</th>

								<th>
									<span>Year 1</span>
								</th>

								<th>
									<span>Year 2</span>
								</th>

								<th>
									<span>Year 3</span>
								</th>

								<th>
									<span>Year 4</span>
								</th>

								<th>
									<span>Year 5</span>
								</th>

								<th>
									<div class="b-checkbox is-secondary">
										<input id="checkbox-docs-all" class="styled" type="checkbox">
										<label for="checkbox-docs-all"></label>
									</div>
								</th>


							</tr>
						</thead>

						<!-- Body -->
						<tbody>
							

							<!-- Table row -->

							{% comment %} name, sub-project, project, total members, date joined {% endcomment %}
							<style>
								.table td {
									border-width: thin;
								}
							</style>
							
						{% for indicator in indicators %}
						<h1></h1>
							{% comment %} <style>
								.table_row {
									display: flex;
									flex-direction: column;
									justify-content: space-between;
								}
							</style> {% endcomment %}
							<tr>

								<!-- Row Entry for Sub Project-->
								<td width="10%" class="members">
									<span class="inner">
										<a href="#" class="modal-trigger" data-modal="indicator_form" onClick="populateIndicatorForm('POPULATE_FORM', '{{program.slug}}', '{{indicator.slug}}', '{{indicator.name}}')">
											<span class="no-margin-bottom">
												{{ indicator.name}}
											</span>
										</a>
									</span>
								</td>

								<!-- Row Entry for Project-->
								<td width="15%" class="members">
									{% for target in indicator.targets %}

										{% comment %} <div class="dropdown is-right dropdown-trigger styled-dropdown is-round" style="justify-content: end;">
											<div class="button">
												<i class="material-icons">more_vert</i>
											</div>
											<div class="dropdown-menu is-text-bigger has-text-left" role="menu">
												<div class="dropdown-content">
													<a href="/project/subproject/detail/" class="dropdown-item">
														<i class="sl sl-icon-eye"></i>
														<span>
															<span>Edit</span>
															<span>Edit Indicator Target</span>
														</span>
													</a>
													<a class="dropdown-item">
														<i class="sl sl-icon-pencil"></i>
														<span>
															<span>Delete</span>
															<span>Delete Indicator Target</span>
														</span>
													</a>
													<div class="dropdown-divider"></div>
													<a class="dropdown-item">
														<i class="sl sl-icon-trash"></i>
														<span>
															<span>Delete</span>
															<span>Delete this contact</span>
														</span>
													</a>
												</div>
											</div>
										</div> {% endcomment %}

										<a href="#" class="modal-trigger" data-modal="indicator_target_form" onClick="populateIndicatorTargetForm('POPULATE_FORM', '{{program.slug}}', '{{target.id}}')">
											<div class="table_row m-1">
												<p class="task-due-date m-1">
													&#10148; {{target.description}} 
												</p>
											</div>
										</a>
										<a href="#" class="modal-trigger" data-modal="indicator_target_unit_form" onClick="populateIndicatorUnitOfMeasureForm('POPULATE_FORM', '{{program.slug}}', '{{target.unit_of_measure_id}}')">
											<p><b>{{target.unit_of_measure}}</b></p>
											<hr class="m-1" width="80%">
										</a>
									{% endfor %}
									
								</td>

								<!-- Row Entry for Members-->
								<td class="modifications" style="line-height: 10em;">
									<ul>
										{% for target in indicator.targets %}
											<li>
												<div class="m-1">
													<p class="task-due-date m-1">
														&#10148; {{target.baseline}} 
													</p>
													
													<hr class="m-1" width="80%">
												</div>
											</li>
										{% endfor %}
									</ul>
								</td>
								
								<!-- Row Entry for Registered-->
								<td class="modifications" style="line-height: 6em;">
									{% for target in indicator.targets%}
										{% if target.yearly_target_values.0 %}
											<div>
												<a href="#" class="modal-trigger" data-modal="indicator_target_value_form" onClick="populateIndicatorTargetValueForm('POPULATE_FORM', '{{program.slug}}', '{{target.yearly_target_values.0.year_1.id}}')">
													<p class="task-due-date m-1">
														Target &#10148; {{target.yearly_target_values.0.year_1.target_value}} 
													</p>
													<p class="task-due-date m-1">
														Actual &#10148; {{target.yearly_target_values.0.year_1.actual_value}} 
													</p>
													<hr class="m-1" width="80%">
												</a>
											</div>
										{% else %}
											<div style="line-height: 6em;">
												-
											</div>
										{% endif %}
									{% endfor %}
								</td>
								<td class"modifications" style="line-height: 6em;">
									{% for target in indicator.targets%}
										{% if target.yearly_target_values.1 %}
											<a href="#" class="modal-trigger" data-modal="indicator_target_value_form" onClick="populateIndicatorTargetValueForm('POPULATE_FORM', '{{program.slug}}', '{{target.yearly_target_values.1.year_2.id}}')">
												<p class="task-due-date m-1">
													Target &#10148; {{target.yearly_target_values.1.year_2.target_value}} 
												</p>
												<p class="task-due-date m-1">
													Actual &#10148; {{target.yearly_target_values.1.year_2.actual_value}} 
												</p>
												<hr class="m-1" width="80%">
											</a>
										{% else %}
												<div style="line-height: 6em;">
												-
											</div>
										{% endif %}
									{% endfor %}

								</td>
								<td class="modifications" style="line-height: 6em;">
									{% for target in indicator.targets%}
										{% if target.yearly_target_values.2 %}
											<a href="#" class="modal-trigger" data-modal="indicator_target_value_form" onClick="populateIndicatorTargetValueForm('POPULATE_FORM', '{{program.slug}}', '{{target.yearly_target_values.2.year_3.id}}')">
												<p class="task-due-date m-1">
													Target &#10148; {{target.yearly_target_values.2.year_3.target_value}} 
												</p>
												<p class="task-due-date m-1">
													Actual &#10148; {{target.yearly_target_values.2.year_3.actual_value}} 
												</p>
												<hr class="m-1" width="80%">
											</a>
										{% else %}
											<div style="line-height: 6em;">
												-
											</div>
										{% endif %}
									{% endfor %}
								</td>
								<td class="modifications" style="line-height: 6em;">
									{% for target in indicator.targets%}
										{% if target.yearly_target_values.3 %}
											<a href="#" class="modal-trigger" data-modal="indicator_target_value_form" onClick="populateIndicatorTargetValueForm('POPULATE_FORM', '{{program.slug}}', '{{target.yearly_target_values.3.year_4.id}}')">
				
												<p class="task-due-date m-1">
													Target &#10148; {{target.yearly_target_values.3.year_4.target_value}} 
												</p>
												<p class="task-due-date m-1">
													Actual &#10148; {{target.yearly_target_values.3.year_4.actual_value}} 
												</p>
												{% comment %} <hr class="m-1" width="80%"> {% endcomment %}
												<div class="dropdown-divider"></div>
											</a>
										{% else %}
											<div style="line-height: 6em;">
												-
											</div>
										{% endif %}
									{% endfor %}
								</td>
								<td class="modifications" style="line-height: 6em;">
									{% for target in indicator.targets%}
										{% if target.yearly_target_values.4 %}
											<a href="#" class="modal-trigger" data-modal="indicator_target_value_form" onClick="populateIndicatorTargetValueForm('POPULATE_FORM', '{{program.slug}}', '{{target.yearly_target_values.4.year_5.id}}')">
												<p class="task-due-date m-1">
													Target &#10148; {{target.yearly_target_values.4.year_5.target_value}} 
												</p>
												<p class="task-due-date m-1">
													Actual &#10148; {{target.yearly_target_values.4.year_5.actual_value}} 
												</p>
												<hr class="m-1" width="80%" style="color: black;">
											</a>
										{% else %}
											<div style="line-height: 6em;">
												-
											</div>
										{% endif %}
									{% endfor %}
								</td>


								<td>
									{% comment %} <div class="b-checkbox is-secondary">
										<input id="checkbox-docs-10" class="styled" type="checkbox">
										<label for="checkbox-docs-10"></label>
									</div> {% endcomment %}


									<div class="dropdown is-right dropdown-trigger styled-dropdown is-round">
										<div class="button">
											<i class="material-icons">more_vert</i>
										</div>
										<div class="dropdown-menu is-text-bigger has-text-left" role="menu">
											<div class="dropdown-content">
												<a href="#" class="dropdown-item modal-trigger" data-modal="indicator_form" onClick="populateIndicatorForm('POPULATE_FORM', '{{program.slug}}', '{{indicator.slug}}', '{{indicator.name}}')">
													<i class="sl sl-icon-eye"></i>
													<span>
														<span>Edit</span>
														<span>Edit Indicator</span>
													</span>
												</a>
												<a class="dropdown-item modal-trigger" data-modal="delete-indicator-modal" onClick="handleDeleteIndicator('SET_ACTION_URL', '{{program.slug}}', '{{indicator.slug}}')">
													<i class="sl sl-icon-pencil"></i>
													<span>
														<span>Delete</span>
														<span>Delete Indicator</span>
													</span>
												</a>
												
												
											</div>
										</div>
									</div>
								</td>

							</tr>
						{% endfor %}

						</tbody>
					</table>
				</div>
			</div>

			
		</div>
	</div>
</div>

