{% load static %}

{% load crispy_forms_tags %}

<!-- Delete project Modal --><!-- delete-project-modal -->
<div class="modal icon-action-modal modal-hero"
     id="delete-project-modal"
     aria-labelledby="delete-project">
    <div class="modal-background modal-dismiss"></div>
    <div class="modal-content">
        <div class="flex-card simple-shadow">
            <div class="help-text has-text-left bg-warning">
                <h2 class="dark-text">Delete Project</h2>
            </div>
            <div class="card-body">
                <div class="has-text-centered">
                    <div class="image">
                        <img src="{% static 'assets/images/icons/project-management.svg' %}">
                    </div>
                    <div class="m-3">
                        <span class="m-2">Deleting {{ project.name }}  project</span>
                    </div>
                </div>
                <form id="delete-project-form"
                      method="post"
                      action="">
                    {% csrf_token %}
                    <div id="warning-msg">
                        <p>Are you sure want to delete this project?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button modal-dismiss">
                            Cancel
                        </button>
                        <button class=" is-danger is-modal" type="submit">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>