{% load static %}

{% load crispy_forms_tags %}

<!-- Create project Modal --><!-- create-project-modal -->
<div class="modal icon-action-modal modal-hero"
     id="create-project-modal"
     aria-labelledby="create-project">
    <div class="modal-background"></div>
    <div class="modal-content" style="width:720px; !important;">
        <div class="flex-card simple-shadow" style="overflow-y: auto;">
            <div class="help-text has-text-left">
                <h2 class="dark-text">New Project</h2>
            </div>
            <div class="card-body">
                <div class="has-text-centered">
                    <div class="image">
                        <img src="{% static 'assets/images/icons/project-management.svg' %}">
                    </div>
                    <div class="m-3">
                        <span class="m-2">Create a new project</span>
                    </div>
                </div>
                <form id="project-form"
                      method="post"
                      action="{% url 'tralard:project' program.slug %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="m-4 column is-multiline">
                        {% crispy project_form project_form.helper %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button modal-dismiss">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>