{% load static %}

    <!-- Reminder Modal -->    <!-- Concatenated jQuery and plugins -->
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/core.js' %}"></script>
    
    <!-- Bulkit js -->
    <script src="{% static 'assets/js/components-modals.js' %}"></script>
    <!--script src="{% static 'assets/js/components-quickview.js' %}"></script-->
    <script src="{% static 'assets/js/common.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    
    <!-- Extensions js -->
    <script src="{% static 'assets/js/documents.js' %}"></script>
    <script src="{% static 'assets/js/contacts.js' %}"></script>
    <script src="{% static 'assets/js/projects.js' %}"></script>
    <script src="{% static 'assets/js/kanban.js' %}"></script>
    <script src="{% static 'assets/js/crm.js' %}"></script>
    <script src="{% static 'assets/js/forum.js' %}"></script>
    <script src="{% static 'assets/js/support.js' %}"></script>
    <script src="{% static 'assets/js/datatable.js' %}"></script>
    <script src="{% static 'assets/js/charts.js' %}"></script>
    <script src="{% static 'assets/js/chat.js' %}"></script>
    <script src="{% static 'assets/js/mailbox.js' %}"></script>
    <script src="{% static 'assets/js/jquery.notifyBar.js' %}"></script>
    <script src="{% static 'assets/js/download_indicator_report.js' %}"></script>
