{% load static %}
{% load crispy_forms_tags %}
<nav class="main-menu">
  <div class="main-menu-inner">
    <!-- Side icon menu -->
    <ul>
      <li class="main-logo">
        <a href="/">
          <img src="{% static 'assets/images/logos/logo.png' %}" alt=""
            data-demo-src="{% static 'assets/images/logos/logo.png' %}" />
        </a>
      </li>
      {% comment %} <li class="side-icon" data-child-menu="dashboard-menu">
        <i class="sl sl-icon-speedometer"></i>
      </li> {% endcomment %}
      {% comment %} <li class="side-icon" data-child-menu="documents-menu">
        <i class="sl sl-icon-docs"></i>
      </li> {% endcomment %}
      {% comment %} <li class="side-icon" data-child-menu="business-menu">
        <i class="sl sl-icon-briefcase"></i>
      </li> {% endcomment %}
      <li class="side-icon" data-child-menu="misc-menu">
        <i class="sl sl-icon-graph"></i>
      </li>
      <li class="side-icon" data-child-menu="settings-menu">
        <i class="sl sl-icon-settings"></i>
      </li>
    </ul>
    <!-- /Side icon menu -->

    <!-- Profile wrapper -->
    <ul class="profile">
      <li>
        <!-- Profile avatar -->
        <a class="profile-trigger" href="javascript:void(0);">
          {% if request.user.profile.profile_photo %}
          <img class="main-menu-avatar" src="https://via.placeholder.com/250x250" data-demo-src="{{ request.user.profile.profile_photo.url }}" id="user-profile-page-opener-button" class="profile-photo"
          alt="">
          {% else %}
            <img src="/static/assets/images/logos/logo.png" alt="Default profile photo">
          {% endif %}
          <span class="dot"></span>
        </a>
        <!-- /Profile avatar -->

        <!-- Profile avatar -->
        <div class="fab js-hamburger">
          <!-- Profile page wrapper -->
          <div class="profile-container">
            <div class="inner">
              <!-- Profile with cover -->
              <div id="profile-cover" class="profile-cover">
                <style>
                  #profile-cover {
                    background-image: url("{% static 'assets/images/banner.jpeg' %}");

                    height: 500px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                    /* IE 8 */
                    filter: alpha(opacity=50);
                    /* IE 5-7 */
                    -moz-opacity: 0.5;
                    /* Netscape */
                    -khtml-opacity: 0.5;
                    /* Safari 1.x */
                  }
                </style>
                <!-- blablabla barner -->
                <div class="cover-overlay"></div>
                <div class="heading-wrapper">
                  <div class="profile-heading">
                    <div class="left-side">
                      <div class="image is-128x128 avatar">
                        <div class="avatar-overlay">
                          <i class="fa fa-camera fa-2x"></i>
                        </div>
                        {% if request.user.profile.profile_photo %}
                        <img src="{{ request.user.profile.profile_photo.url }}" class="profile-photo"
                          alt="{{ request.user.username }}'s profile photo" />
                        {% else %}
                        <img src="/assets/images/logos/logo.png" class="profile-photo"
                          alt="{{ request.user.username }}'s profile photo" />
                        {% endif %}
                      </div>
                      <div class="name">
                        <h3>{{ request.user.username }}</h3>
                        <p>{{ request.user.email }}</p>
                      </div>
                    </div>

                    <div class="right-side">
                      <div class="stat-wrap has-text-centered is-hidden-mobile">
                        <p class="stat-val">1</p>
                        <p class="stat-key">Projects Atached</p>
                      </div>
                      <div class="stat-wrap has-text-centered is-hidden-mobile">
                        <p class="stat-val">2</p>
                        <p class="stat-key">Sub Projects Attache</p>
                      </div>
                      <div class="stat-wrap has-text-centered is-hidden-mobile">
                        <p class="stat-val">3</p>
                        <p class="stat-key">Benefiaries Attached</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Profile menu FAB -->
                <div class="profile-fab">
                  <div class="fab-wrapper">
                    <button id="show-notifications" class="notifications fab-btn mini ripple" data-toggle="tooltip"
                      data-placement="left" data-title="Edit">
                      <i class="material-icons">edit</i>
                    </button>
                    <button id="show-team" class="team fab-btn mini ripple" data-toggle="tooltip" data-placement="top"
                      data-title="Team">
                      <i class="material-icons">work_outline</i>
                    </button>
                    <button id="show-details" class="details fab-btn mini ripple" data-toggle="tooltip"
                      data-placement="top" data-title="Profile">
                      <i class="material-icons">verified_user</i>
                    </button>
                    <button id="profile-fab-trigger" class="fab-btn pop-fab">
                      <span class="profile-menu-wrapper">
                        <span class="icon-box-toggle">
                          <span class="rotate">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i>
                          </span>
                        </span>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Profile Sections -->
              <div class="profile-sections-outer">
                <div class="profile-sections-wrapper">
                  <!-- Profile details -->
                  <div id="profile-details" class="profile-details animated preFadeInUp fadeInUp">
                    <!-- Details sub view -->
                    <div id="profile-view" class="profile-view">
                      <div class="columns is-multiline">
                        <div class="column is-6">
                          <div class="info-card">
                            <div class="info-header">
                              <h3>Personal Info</h3>
                              <i class="im im-icon-Professor"></i>
                            </div>
                            <div class="info-block">
                              <div class="meta">
                                <label>Full name</label>
                                <p>
                                    {{ request.user.profile.user.first_name|title }} {{ profile.user.last_name|title }}
                                </p>
                              </div>
                            </div>
                            <div class="info-block">
                              <div class="meta">
                                <label>Gender</label>
                                <p>{{ request.user.profile.gender }}</p>
                              </div>
                            </div>
                            <div class="info-block">
                              <div class="meta">
                                <label>Province</label>
                                <p>{{ request.user.profile.district.province }}</p>
                              </div>
                            </div>

                            <div class="info-block">
                              <div class="meta">
                                <label>District</label>
                                <p>{{ request.user.profile.district.name }}</p>
                              </div>
                            </div>
                            <div class="info-block">
                              <div class="meta">
                                <label>Birth Date</label>
                                <p>{{ request.user.profile.birth_date }}</p>
                              </div>
                            </div>
                            <div class="info-block">
                              <div class="meta">
                                <label>About Me</label>
                                <p>{{ request.user.profile.about_me }}</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="column is-6">
                          <div class="info-card">
                            <div class="info-header">
                              <h3>User Info</h3>
                            </div>
                            <div class="info-block">
                              <div class="meta">
                                <label>User Roles</label>
                                <div style="
                                    display: flex-container;
                                    font-size: 16px;
                                  " class="flex-container">
                                  {% for role in user_roles %}
                                  <span class="badge badge-info">{{ role }}</span>
                                  {% endfor %}
                                  <span class="e"></span>
                                </div>
                              </div>
                            </div>
                            <hr />
                            <div class="info-block" style="float: left">
                              <div class="meta">
                                {% if request.user.profile.user.is_active %}
                                <span>Active</span>
                                {% else %}
                                <span>Inactive</span>
                                {% endif %}
                              </div>
                            </div>
                            <div class="info-block" style="float: right">
                              <div class="meta">
                                {% if request.user.profile.user.is_active %}
                                <img style="width: 20px; height: 20px" class="img-xs rounded-circle"
                                  src="/static/assets/images/green-check-icon.jpeg" alt="active" />
                                {% else %}
                                <img style="width: 20px; height: 20px" class="img-xs rounded-circle"
                                  src="/static/assets/images/red-check-icon.jpg" alt="inactive" />
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <button style="
                              visibility: hidden;
                              width: 100%;
                              display: block;
                              background-color: #21546d;
                              color: white;
                              font-size: 14px;
                              padding-bottom: 6px;
                            " onclick="document.getElementById('user-roles-update-trigger').style.display='block'"
                            class="w3-button button block_">
                            <span style="margin-bottom: 8px">Update User Roles</span>
                          </button>
                          <div style="width: 100%" class="column is-6">
                            <div class="info-card">
                              <div class="info-header">
                                <h3>Contact Info</h3>
                                <i class="im im-icon-Post-Mail2"></i>
                              </div>
                              <div style="float: right" class="info-block">
                                <div class="meta">
                                  <label style="float: right">Email</label>
                                  <p>{{ request.user.profile.user.email }}</p>
                                </div>
                              </div>
                              <div class="info-block">
                                <div class="meta">
                                  <label>Mobile</label>
                                  <p>{{ request.user.profile.cell }}</p>
                                </div>
                              </div>
                              <div style="float: right" class="info-block">
                                <div class="meta">
                                  <label style="margin-left: 8em">Address</label>
                                  <p>{{ request.user.profile.address }}</p>
                                </div>
                              </div>
                              <div class="info-block">
                                <div class="meta">
                                  <label>Postal Code</label>
                                  <p>{{ request.user.profile.postal_code }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Social Media Details -->
                        <div style="visibility: hidden" class="column is-6">
                          <div class="info-card">
                            <div class="info-header">
                              <h3>Social Media</h3>
                              <i class="im im-icon-Note"></i>
                            </div>
                            <div class="info-block">
                              <i class="im im-icon-Facebook-2"></i>
                              <div class="meta">
                                <label>Facebook</label>
                                <p>facebook.com/helen-miller</p>
                              </div>
                            </div>
                            <div class="info-block">
                              <i class="im im-icon-Twitter"></i>
                              <div class="meta">
                                <label>Twitter</label>
                                <p>twitter.com/helen-miller</p>
                              </div>
                            </div>
                            <div class="info-block">
                              <i class="im im-icon-Linkedin"></i>
                              <div class="meta">
                                <label>Linkedin</label>
                                <p>linkedin.com/helen-miller</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Details sub view -->
                  </div>
                  <!-- Profile team -->
                  <div id="profile-team" class="profile-team is-hidden">
                    <!-- Team header -->
                    <div class="columns">
                      <div class="column is-10 is-offset-1">
                        <div class="flex-card is-top light-bordered raised animated preFadeInUp fadeInUp">
                          <div class="card-body">
                            <div class="columns is-vcentered">
                              <div class="column is-6">
                                <div class="team-logo">
                                  <img src="/static/assets/images/logos/partners/acme.svg" alt="" />
                                </div>
                              </div>
                              <div class="column is-6">
                                <div class="team-info">
                                  <div class="team-number">
                                    <span>15</span> Team members
                                  </div>
                                  <div class="team-avatars">
                                    <img src="https://via.placeholder.com/250x250" alt=""
                                      data-demo-src="/static/assets/images/avatars/anthony.jpg" />
                                    <img src="https://via.placeholder.com/250x250" alt=""
                                      data-demo-src="/static/assets/images/avatars/barry.jpg" />
                                    <img src="https://via.placeholder.com/250x250" alt=""
                                      data-demo-src="/static/assets/images/avatars/carolin.png" />
                                    <img src="https://via.placeholder.com/250x250" alt=""
                                      data-demo-src="/static/assets/images/avatars/ray.jpg" />
                                    <img src="https://via.placeholder.com/250x250" alt=""
                                      data-demo-src="/static/assets/images/avatars/nina.jpg" />
                                    <img src="https://via.placeholder.com/250x250" alt=""
                                      data-demo-src="/static/assets/images/avatars/marc.jpg" />
                                    <span>+9</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Team header -->

                    <!-- Team List -->
                    <div class="columns is-vcentered is-multiline animated preFadeInUp fadeInUp">
                      <!-- Team member -->
                      <div class="column is-4">
                        <div class="flex-card team-card light-bordered light-raised">
                          <div class="card-heading padding-10">
                            <span class="tag is-success">Online</span>
                          </div>
                          <div class="card-body">
                            <div class="avatar">
                              <img src="https://via.placeholder.com/250x250" alt=""
                                data-demo-src="/static/assets/images/avatars/anthony.jpg" />
                            </div>
                            <div class="user-id">
                              <div class="name">Anthony Briggs</div>
                              <div class="position">Sales Manager</div>
                              <div class="location">
                                <i class="sl sl-icon-globe"></i> Stockholm
                              </div>
                            </div>
                            <div class="user-description">
                              Anthony is a specialist of online sales and
                              abandoned cart recovery process
                            </div>
                            <div class="card-action has-text-centered">
                              <button class="button btn-dash rounded secondary-btn is-fullwidth ripple no-lh">
                                Profile
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Team member -->
                      <div class="column is-4">
                        <div class="flex-card team-card light-bordered light-raised">
                          <div class="card-heading padding-10">
                            <span class="tag">Offline</span>
                          </div>
                          <div class="card-body">
                            <div class="avatar">
                              <img src="https://via.placeholder.com/250x250" alt=""
                                data-demo-src="/static/assets/images/avatars/barry.jpg" />
                            </div>
                            <div class="user-id">
                              <div class="name">Arthur Baxter</div>
                              <div class="position">Head of Sales</div>
                              <div class="location">
                                <i class="sl sl-icon-globe"></i> London
                              </div>
                            </div>
                            <div class="user-description">
                              Arthur is the big boss of Europe Sales at Acme and
                              an Online sales specialist
                            </div>
                            <div class="card-action has-text-centered">
                              <button class="button btn-dash rounded secondary-btn is-fullwidth ripple no-lh">
                                Profile
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Team member -->
                      <div class="column is-4">
                        <div class="flex-card team-card light-bordered light-raised">
                          <div class="card-heading padding-10">
                            <span class="tag is-success">Online</span>
                          </div>
                          <div class="card-body">
                            <div class="avatar">
                              <img src="https://via.placeholder.com/250x250" alt=""
                                data-demo-src="/static/assets/images/avatars/carolin.png" />
                            </div>
                            <div class="user-id">
                              <div class="name">Marjory Cambell</div>
                              <div class="position">Emailing Manager</div>
                              <div class="location">
                                <i class="sl sl-icon-globe"></i> New York
                              </div>
                            </div>
                            <div class="user-description">
                              Marjory handles the thousands of emails we send to
                              our subscribers
                            </div>
                            <div class="card-action has-text-centered">
                              <button class="button btn-dash rounded secondary-btn is-fullwidth ripple no-lh">
                                Profile
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Team member -->
                      <div class="column is-4">
                        <div class="flex-card team-card light-bordered light-raised">
                          <div class="card-heading padding-10">
                            <span class="tag is-success">Online</span>
                          </div>
                          <div class="card-body">
                            <div class="avatar">
                              <img src="https://via.placeholder.com/250x250" alt=""
                                data-demo-src="/static/assets/images/avatars/nina.jpg" />
                            </div>
                            <div class="user-id">
                              <div class="name">Elisabeth Lopez</div>
                              <div class="position">Sales Manager</div>
                              <div class="location">
                                <i class="sl sl-icon-globe"></i> Mexico
                              </div>
                            </div>
                            <div class="user-description">
                              Elisabeth is a specialist of online sales and
                              abandoned cart recovery process
                            </div>
                            <div class="card-action has-text-centered">
                              <button class="button btn-dash rounded secondary-btn is-fullwidth ripple no-lh">
                                Profile
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Team member -->
                      <div class="column is-4">
                        <div class="flex-card team-card light-bordered light-raised">
                          <div class="card-heading padding-10">
                            <span class="tag is-warning">Busy</span>
                          </div>
                          <div class="card-body">
                            <div class="avatar">
                              <img src="https://via.placeholder.com/250x250" alt=""
                                data-demo-src="/static/assets/images/avatars/ben.jpg" />
                            </div>
                            <div class="user-id">
                              <div class="name">Kevin Smith</div>
                              <div class="position">Shipping Manager</div>
                              <div class="location">
                                <i class="sl sl-icon-globe"></i> Chicago
                              </div>
                            </div>
                            <div class="user-description">
                              Kevin handles all the shipping process from the
                              warehouse to the customers
                            </div>
                            <div class="card-action has-text-centered">
                              <button class="button btn-dash rounded secondary-btn is-fullwidth ripple no-lh">
                                Profile
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Team member -->
                      <div class="column is-4">
                        <div class="flex-card team-card light-bordered light-raised">
                          <div class="card-heading padding-10">
                            <span class="tag">Offline</span>
                          </div>
                          <div class="card-body">
                            <div class="avatar">
                              <img src="https://via.placeholder.com/250x250" alt=""
                                data-demo-src="/static/assets/images/avatars/marc.jpg" />
                            </div>
                            <div class="user-id">
                              <div class="name">Marc Walters</div>
                              <div class="position">Product Designer</div>
                              <div class="location">
                                <i class="sl sl-icon-globe"></i> New York
                              </div>
                            </div>
                            <div class="user-description">
                              Marc is from the product design team with solid
                              project management skills
                            </div>
                            <div class="card-action has-text-centered">
                              <button class="button btn-dash rounded secondary-btn is-fullwidth ripple no-lh">
                                Profile
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Team List -->
                  </div>
                  <!-- /Profile team -->
                  <!-- Profile notifications -->
                  <div style="width: 100%" id="profile-notifications" class="profile-notifications is-hidden">
                    <div class="profile-notifications-inner animated preFadeInUp fadeInUp">
                      <div class="profile-notifications-title" style="width: 100%;">
                        {% if profile_form %}
                            <form name="user_profile_form" method="post"
                              action="{% url 'tralard:profile-update' %}">
                              {% crispy profile_form profile_form.helper %}
                            </form>
                        {% else %}
                        {% endif %}
                        <script>
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Profile page wrapper -->
          <div class="fab__ripple"></div>
          <div class="hamburger"></div>
        </div>
        <!-- Profile avatar -->
      </li>
    </ul>
    <!-- /Profile wrapper -->
  </div>
</nav>

<!-- Child push sidebar menu -->
<nav class="child-menu">
  <div class="child-menu-inner">
    <!-- Child menu header -->
    <ul>
      <li class="child-header">
        <div class="sidebar-title">Navigation</div>
        <a id="close-child-menu" href="#" class="menu-wrapper">
          <span class="icon-box-toggle ef-4">
            <span class="rotate">
              <i class="icon-line-top"> </i>
              <i class="icon-line-center"> </i>
              <i class="icon-line-bottom"> </i>
            </span>
          </span>
        </a>
      </li>
    </ul>
    <!-- /Child menu header -->

    <!-- Sidebar menu 1 -->
    {% comment %} <ul id="dashboard-menu" class="sidebar-menu is-active animated preFadeInRIght fadeInRight">
      <li class="have-children">
        <a  href="/"><span class="material-icons">dashboard</span>Project</a>
      </li>
    </ul>  {% endcomment %}
    <!-- /Sidebar menu 1 -->
    <!-- Sidebar menu 2 -->
    {% comment %} <ul id="documents-menu" class="sidebar-menu animated preFadeInRIght fadeInRight">
      <li class="have-children">
        <a class="parent-link" href="#"><span class="material-icons">insert_drive_file</span>Documents</a>
        <ul>
          <li>
            <a href="/dashboard-document-list.html">Document list
              <span class="tag is-primary font-w-600 ml-10">2.1</span></a>
          </li>
          <li>
            <a href="/dashboard-document-details.html">Document details
              <span class="tag is-primary font-w-600 ml-10">2.1</span></a>
          </li>
          <li>
            <a href="/dashboard-document-invoice.html">Invoice
              <span class="tag is-primary font-w-600 ml-10">2.1</span></a>
          </li>
        </ul>
      </li>
      <li class="have-children">
        <a class="parent-link" href="#"><span class="material-icons">assignment</span>Projects</a>
        <ul>
          <li>
            <a href="/dashboard-project-list.html">Project list
              <span class="tag is-secondary font-w-600 ml-10">2.0</span></a>
          </li>
          <li>
            <a href="/dashboard-project-details.html">Project details
              <span class="tag is-secondary font-w-600 ml-10">2.0</span></a>
          </li>
        </ul>
      </li>
      <li class="have-children">
        <a class="parent-link" href="#"><span class="material-icons">assignment_turned_in</span>Tasks</a>
        <ul>
          <li>
            <a href="/dashboard-project-task.html">Single Task
              <span class="tag is-secondary font-w-600 ml-10">2.0</span></a>
          </li>
          <li>
            <a href="/dashboard-project-mytasks.html">My Tasks
              <span class="tag is-secondary font-w-600 ml-10">2.0</span></a>
          </li>
        </ul>
      </li>
    </ul> {% endcomment %}
    <!-- /Sidebar menu 2 -->
    <!-- Sidebar menu 3 -->
    {% comment %} <ul id="business-menu" class="sidebar-menu animated preFadeInRIght fadeInRight">
      <li class="have-children">
        <a class="parent-link" href="#"><span class="material-icons">group</span>Contacts</a>
        <ul>
          <li>
            <a href="/dashboard-contacts-list.html">Contact list
              <span class="tag is-primary font-w-600 ml-10">2.1</span></a>
          </li>
          <li>
            <a href="/dashboard-contacts-grid.html">Contact grid
              <span class="tag is-primary font-w-600 ml-10">2.1</span></a>
          </li>
          <li>
            <a href="/dashboard-contacts-single.html">Contact details
              <span class="tag is-primary font-w-600 ml-10">2.1</span></a>
          </li>
        </ul>
      </li>
      <li class="have-children">
        <a class="parent-link" href="#"><span class="material-icons">work</span>CRM</a>
        <ul>
          <li>
            <a href="/dashboard-crm-boards.html">All Boards
              <span class="tag is-primary font-w-600 ml-10">2.2</span></a>
          </li>
          <li>
            <a href="/dashboard-crm-kanban.html">Deals Kanban
              <span class="tag is-primary font-w-600 ml-10">2.2</span></a>
          </li>
          <li>
            <a href="/dashboard-crm-deal.html">Single Deal
              <span class="tag is-primary font-w-600 ml-10">2.2</span></a>
          </li>
        </ul>
      </li>
    </ul> {% endcomment %}
    <!-- /Sidebar menu 3 -->
    <!-- Sidebar menu 4 -->
    <ul id="misc-menu" class="sidebar-menu animated preFadeInRIght fadeInRight">
      <li class="have-children">
        <a href="/reports_builder/"><span class="material-icons">grid_on</span>Reports</a>
       
      </li>
    </ul>
    <ul id="misc-menu" class="sidebar-menu animated preFadeInRIght fadeInRight">
      <li class="have-children">
        <a class="parent-link" href="#"><span class="material-icons">grid_on</span>Datatables</a>
        <ul>
          <li>
            <a href="/dashboard-datatable-basic.html">Basic Datatable
              <span class="tag is-secondary font-w-600 ml-10">2.0</span></a>
          </li>
          <li>
            <a href="/dashboard-datatable-variations.html">Variations
              <span class="tag is-secondary font-w-600 ml-10">2.0</span></a>
          </li>
          <li>
            <a href="/dashboard-datatable-advanced.html">Advanced Example
              <span class="tag is-secondary font-w-600 ml-10">2.0</span></a>
          </li>
        </ul>
      </li>
      <li class="have-children">
        <a class="parent-link" href="#"><span class="material-icons">apps</span>Apps</a>
        <ul>
          <li>
            <a href="/dashboard-chat-app.html">Chat UI
              <span class="tag is-danger font-w-600 ml-10">2.3</span></a>
          </li>
          <li>
            <a href="/dashboard-mailbox-inbox.html">Inbox UI<span class="tag is-danger font-w-600 ml-10">2.3</span></a>
          </li>
        </ul>
      </li>
      <li class="have-children">
        <a class="parent-link" href="#"><span class="material-icons">thumbs_up_down</span>Forum</a>
        <ul>
          <li>
            <a href="/dashboard-forum-home.html">Forum home
              <span class="tag is-primary font-w-600 ml-10">2.2</span></a>
          </li>
          <li>
            <a href="/dashboard-forum-channel.html">Forum Channel
              <span class="tag is-primary font-w-600 ml-10">2.2</span></a>
          </li>
          <li>
            <a href="/dashboard-forum-topic.html">Forum Topic
              <span class="tag is-primary font-w-600 ml-10">2.2</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /Sidebar menu 4 -->
    <!-- Sidebar menu 5 -->
    <ul id="settings-menu" class="sidebar-menu animated preFadeInRIght fadeInRight">
      <li class="have-children">
        <a href="/admin/" href="#"><span class="material-icons">settings</span>Admin</a>
      </li>
      <li class="have-children">
        <a class="parent-link" href="#"><span class="material-icons">account_circle</span>User settings</a>
        <ul>
          <li>
            <a href="javascript:void(0);">User list <span class="sl sl-icon-lock warning-text ml-10"></span></a>
          </li>
          <li>
            <a href="javascript:void(0);">Add user <span class="sl sl-icon-lock warning-text ml-10"></span></a>
          </li>
          <li>
            <a href="javascript:void(0);">Access rights
              <span class="sl sl-icon-lock warning-text ml-10"></span></a>
          </li>
        </ul>
      </li>
      <li class="have-children">
        <a class="parent-link" href="#"><span class="material-icons">domain</span>Organizations</a>
        <ul>
          <li>
            <a href="javascript:void(0);">Organizations list
              <span class="sl sl-icon-lock warning-text ml-10"></span></a>
          </li>
          <li>
            <a href="javascript:void(0);">Add organization
              <span class="sl sl-icon-lock warning-text ml-10"></span></a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /Sidebar menu 5 -->
  </div>
</nav>
<!-- /Child push sidebar menu -->