{% load static %}

<div class="columns is-multiline">
	{% for sub_project in sub_project_list %}
	<!-- SubProject card -->
	<div class="column is-4">
		<div class="flex-card light-bordered light-shadow project-card card-overflow">
			<div class="header">
				<a href="{% url 'tralard:subproject-manage' project_slug=sub_project.subcomponent.project.slug subcomponent_slug=sub_project.subcomponent.slug subproject_slug=sub_project.slug %}">
					<h4 class="no-margin-bottom">
						{{ sub_project.name|title }}
					</h4>
				</a>
			</div>
			<div class="project-members">
				{% if sub_project.image_file %}
				<div class="face">
					<img src="https://via.placeholder.com/250x250" alt=""
					     data-demo-src="{{ sub_project.image_file.url }}"/>
				</div>
				{% else %}
					<div class="face is-fake"></div>
				{% endif %}
			</div>

			<div class="team-info">total subproject fund utilization</div>
			<div class="progress-block">
				<progress class="progress is-xs is-green"
				          value="{{ sub_project.fund_utilization_percent }}"
				          max="100">{{ sub_project.fund_utilization_percent }}%
				</progress>
				<div class="task-count">
					<span class="sl sl-icon-check"></span>
					<span>{{ sub_project.fund_utilization_percent }}%</span>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% if sub_project_list.paginator.num_pages != 1 %}
<div class="pagination align-center" style="align-content: center;">
	<hr />
	<span style="font-size: x-medium;" class="step-links">
		{% if sub_project_list.has_previous %}
		<a  style="padding: .2em; border-radius: 5px; padding-right: 0.3em; padding-left: 0.3em; color: black; background: #9da5a9; border-color: #21546d; font:200;" href="?subproject_page=1">&laquo;&laquo; first</a>
		<a style="padding: .2em; border-radius: 50px; padding-right: 0.3em; padding-left: 0.3em; color: white; background: #9da5a9; border-color: #21546d; font:200;" href="?subproject_page={{ sub_project_list.previous_page_number }}" data-title="previous page">&laquo;</a>
		{% endif %}
			<span class="current" style="color: #21546d;">
				{{ sub_project_list.number }} of {{ sub_project_list.paginator.num_pages }}
			</span>
			{% if sub_project_list.has_next %}
			<a style="padding: .2em; border-radius: 50px; padding-right: 0.3em; padding-left: 0.3em; color: white; background: #9da5a9; border-color: #21546d; font:200;" href="?subproject_page={{ sub_project_list.next_page_number }}" data-title="next page">&raquo;</a>
			<a style="padding: .2em; border-radius: 5px; padding-right: 0.3em; padding-left: 0.3em; color: black; background: #9da5a9; border-color: #21546d; font:200;" href="?subproject_page={{ sub_project_list.paginator.num_pages }}">last &raquo;&raquo;</a>
			{% endif %}
		</span>
	</div>
{% else %}
{% endif %}
