<!--  -->
{% load static %}

<div id="edit-subproject-modal-detail" class="modal modal-md icon-action-modal modal-hero">
    <div class="modal-background"></div>
    <div class="modal-content" style="width: 50% !important;">
        <div class="flex-card simple-shadow" style="overflow-y: auto;">
            <div class="help-text has-text-left">
                <h2 class="dark-text">Update SubProject</h2>

                <div class="card-body">
                    <div id="update-subproject-form-detail">

                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large is-hidden" aria-label="close"></button>
    </div>
</div>