{% extends "layouts/base-fullscreen.html" %}

{% load static %}

{% block title %} Login {% endblock %}

{% block content %}   

    <section class="hero is-fullheight is-light-grey is-bold">
    
        <div class="hero-body">
            <div class="container">
    
                <!-- Classic inputs -->
                <div id="classic" class="login-form-wrapper">

                    <!-- Classic login form -->
                    <div id="login-form" class="animated preFadeInLeft fadeInLeft">

                        <form role="form" method="post" action="">

                            {% csrf_token %}

                            <div class="auth-card">
                                <div class="auth-card-header header-primary">
                                    <h2 class="has-text-centered">PPCR-TRALARD</h2>
                                </div>
                                <div class="field has-text-centered">
                                    <p>
                                        {% if msg %}
                                            {{ msg | safe }}
                                        {% else %}
                                            Add your credentials 
                                        {% endif %}                                        
                                    </p>    
                                </div>

                                <br />

                                <div class="field">
                                    <div class="control">
                                        {{ form.username }}
                                        <div class="form-icon">
                                            <i data-feather="user"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="control">
                                        {{ form.password }}
                                        <div class="form-icon">
                                            <i data-feather="lock"></i>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <p class="has-text-centered">
                                    Forgot your password? <a class="no-account" href="#" >Reset</a>
                                </p>
                                <div class="button-wrap">
                                    <button type="submit" name="login" class="button">Login</button>
                                </div>
                            </div>
                        
                        </form>

                        <p class="has-text-centered">
                            &copy; <a href="#">THINK</a> - 
                            <a href="#">2044</a>                       
                        </p>
                    </div>
                    <!-- /Classic login form -->

                </div>
                <!-- /Classic inputs -->
    
            </div>
        </div>



    <!-- Partners Group -->
    <div class="projects-list-wrapper" style="margin-left: 10em;">
        <div class="list-header">
            <div class="list-title">
                <span style="margin-left: 22.5em;">Our Partners</span>
            </div>
        </div>
        <div class="list-body">
            <div class="columns is-multiline">
                <!-- Team card -->
                <div class="column is-2">
                    <img src="https://via.placeholder.com/250x250" alt=""
                        data-demo-src="{% static 'assets/images/partners/zima.png' %}" height="150" width="150">
                </div>

                <div class="column is-2">
                    <img src="https://via.placeholder.com/250x250" alt=""
                        data-demo-src="{% static 'assets/images/partners/wbg.png' %}" height="200" width="350">
                </div>

                <div class="column is-2">
                    <img src="https://via.placeholder.com/250x250" alt=""
                        data-demo-src="{% static 'assets/images/partners/adb.png' %}" height="120" width="120">
                </div>

                <!-- Team card -->
                <div class="column is-2">
                    <img src="https://via.placeholder.com/250x250" alt=""
                        data-demo-src="{% static 'assets/images/partners/cif.png' %}" height="200" width="200">
                </div>

                <div class="column is-2">
                    <img src="https://via.placeholder.com/250x250" alt=""
                        data-demo-src="{% static 'assets/images/partners/mgee.png' %}" width="250">
                </div>

            </div>
        </div>
    </div>

    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/js/auth.js' %}"></script>
{% endblock javascripts %}
