{% extends "layouts/base-fullscreen.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}

{% block content %}
<div style=" display: grid; flex-direction: column; justify-items: center; padding: 2em;">
    <p class="alert alert-info" style="width: 100%;
    text-align: center;">
        Your password has been changed successfully return to login to continue. You will be redirected in <span
            id="countdown">5</span> seconds.</p>
    </p>
    <a href="{% url 'login' %}"> <button class="button is-modal primary-btn"
            style="padding: 1.5em; font-weight: bolder;">
            Back To Login
        </button> </a>
</div>
{% endblock content %}


{% block javascripts %}

<script>
    //auto redirect to login after 5 seconds
    setTimeout(function () {
        window.location.href = href = "{% url 'login' %}";
    }, 5000);
</script>

<script>
    var max_time = 5;
    var cinterval;

    function countdown_timer() {
        // decrease timer
        max_time--;
        document.getElementById('countdown').innerHTML = max_time;
        if (max_time == 0) {
            clearInterval(cinterval);
        }
    }
    // 1,000 means 1 second.
    cinterval = setInterval('countdown_timer()', 1000);
</script>

{% endblock javascripts %}