{% extends "layouts/base.html" %}

{% load static %}

{% block title %} {{ title|title }} {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- PAGE content goes HERE -->
{% block content %}

<div id="dashboard-wrapper" class="dashboard-outer">
    <div class="dashboard-inner">

        <!-- Dashboard Wrapper -->
        <div class="dashboard-wrapper">

            <br/>
            <div class="profile-heading">
                <div>
                    <h2 class="project-title">All Beneficiaries</h2>
                    <small class="project-tagline no-margin-bottom">Showing all Beneficiaries.</small>
                </div>
            </div>

            <br/>

            <div id="main-dashboard" class="section-wrapper">
                <!-- Dashboard content -->
                <div id="basic-layout" class="columns dashboard-columns">

                    <div class="column is-9 is-hidden-mobile">

                        <div class="is-document-list">
                            <!-- Documents table -->
                            <table class="table documents-table">
                                <!-- Header -->
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="b-checkbox is-secondary">
                                                <input id="checkbox-docs-all" class="styled" type="checkbox">
                                                <label for="checkbox-docs-all"></label>
                                            </div>
                                        </th>
                                        <th class="w-30">
                                            <!-- Filter dropdown Name-->
                                            <div class="dropdown filter-dropdown dropdown-trigger">
                                                <div class="button">
                                                    <span>Name</span>
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </div>

                                                <div class="dropdown-menu" role="menu">
                                                    <div class="dropdown-content">
                                                        <div class="dropdown-item filter-title">
                                                            Order
                                                        </div>
                                                        <a href="#" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Ascending</span>
                                                        </a>
                                                        <a class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Descending</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>

                                        <th>
                                            <!-- Filter dropdown Sub Project-->
                                            <div class="dropdown filter-dropdown dropdown-trigger">
                                                <div class="button">
                                                    <span>Sub Project</span>
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </div>

                                                <div class="dropdown-menu" role="menu">
                                                    <div class="dropdown-content">
                                                        <div class="dropdown-item filter-title">
                                                            Order
                                                        </div>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Ascending</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Descending</span>
                                                        </a>
                                                        <div class="dropdown-divider"></div>
                                                        <div class="dropdown-item filter-title">
                                                            Display
                                                        </div>
                                                        <a href="javascript:void(0);" class="dropdown-item is-active">
                                                            <span><i class="fa fa-check"></i> Modification</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item is-disabled">
                                                            <span><i class="fa fa-check"></i> Members</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Type</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Size</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>

                                        <th>
                                            <!-- Filter dropdown Project-->
                                            <div class="dropdown filter-dropdown dropdown-trigger">
                                                <div class="button">
                                                    <span>Project</span>
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </div>

                                                <div class="dropdown-menu" role="menu">
                                                    <div class="dropdown-content">
                                                        <div class="dropdown-item filter-title">
                                                            Order
                                                        </div>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Ascending</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Descending</span>
                                                        </a>
                                                        <div class="dropdown-divider"></div>
                                                        <div class="dropdown-item filter-title">
                                                            Display
                                                        </div>
                                                        <a href="javascript:void(0);" class="dropdown-item is-active">
                                                            <span><i class="fa fa-check"></i> Modification</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item is-disabled">
                                                            <span><i class="fa fa-check"></i> Members</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Type</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Size</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>

                                        <th>
                                            <!-- Filter dropdown Members-->
                                            <div class="dropdown filter-dropdown dropdown-trigger">
                                                <div class="button">
                                                    <span>Members</span>
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </div>

                                                <div class="dropdown-menu" role="menu">
                                                    <div class="dropdown-content">
                                                        <div class="dropdown-item filter-title">
                                                            Order
                                                        </div>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Ascending</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Descending</span>
                                                        </a>
                                                        <div class="dropdown-divider"></div>
                                                        <div class="dropdown-item filter-title">
                                                            Display
                                                        </div>
                                                        <a href="javascript:void(0);" class="dropdown-item is-disabled">
                                                            <span><i class="fa fa-check"></i> Modification</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item is-active">
                                                            <span><i class="fa fa-check"></i> Members</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Type</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Size</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>

                                        <th>
                                            <!-- Filter dropdown Date Registered-->
                                            <div class="dropdown filter-dropdown dropdown-trigger">
                                                <div class="button">
                                                    <span>Registered</span>
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </div>

                                                <div class="dropdown-menu" role="menu">
                                                    <div class="dropdown-content">
                                                        <div class="dropdown-item filter-title">
                                                            Order
                                                        </div>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Ascending</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Descending</span>
                                                        </a>
                                                        <div class="dropdown-divider"></div>
                                                        <div class="dropdown-item filter-title">
                                                            Display
                                                        </div>
                                                        <a href="javascript:void(0);" class="dropdown-item is-disabled">
                                                            <span><i class="fa fa-check"></i> Modification</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item is-active">
                                                            <span><i class="fa fa-check"></i> Members</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Type</span>
                                                        </a>
                                                        <a href="javascript:void(0);" class="dropdown-item">
                                                            <span><i class="fa fa-check"></i> Size</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>


                                        <th class="w-5">
                                            <!-- Filter dropdown -->
                                            <div class="dropdown filter-dropdown is-right dropdown-trigger">
                                                <div class="button">
                                                    <span class="material-icons">subject</span>
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </div>

                                                <div class="dropdown-menu" role="menu">
                                                    <div class="dropdown-content">
                                                        <div class="dropdown-item filter-title">
                                                            View type
                                                        </div>
                                                        <a href="#" class="dropdown-item is-spaced is-active">
                                                            <span><i class="fa fa-check"></i> List view</span>
                                                            <i class="material-icons">view_list</i>
                                                        </a>
                                                        <a class="dropdown-item is-spaced">
                                                            <span><i class="fa fa-check"></i> Grid view</span>
                                                            <i class="material-icons">view_module</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                                <!-- Body -->
                                <tbody>

                                    <!-- Table row -->

                                    {% comment %} name, sub-project, project, total members, date joined {% endcomment %}
                                    
                                    {% for beneficiary in beneficiaries %}
                                        <tr>
                                            <td>
                                                <div class="b-checkbox is-secondary">
                                                    <input id="checkbox-docs-10" class="styled" type="checkbox">
                                                    <label for="checkbox-docs-10"></label>
                                                </div>
                                            </td>

                                            <!-- Row Entry for Name-->
                                            <td class="document-preview">
                                                <span class="inner">
                                                    <img src="https://via.placeholder.com/150x150" alt="" data-demo-src="{{ beneficiary.logo.url }}">
                                                    <a href="#">{{beneficiary.name}}</a>
                                                </span>
                                            </td>

                                            <!-- Row Entry for Sub Project-->
                                            <td class="members">
                                                <span class="inner">
                                                    <span class="member-count" data-toggle="tooltip" data-placement="top"
                                                        data-title="Hellen Miller (you)<br>Melany Smith"
                                                        data-trigger="hover">
                                                        {{ beneficiary.sub_project.name}}
                                                    </span>
                                                </span>
                                            </td>

                                            <!-- Row Entry for Project-->
                                            <td class="members">
                                                <span class="inner">
                                                    <span class="member-count" data-toggle="tooltip" data-placement="top"
                                                        data-title="Hellen Miller (you)<br>Melany Smith"
                                                        data-trigger="hover">
                                                        {{beneficiary.sub_project.project.name}}
                                                    </span>
                                                </span>
                                            </td>

                                            <!-- Row Entry for Members-->
                                            <td class="members">
                                                <span class="inner">
                                                    <span class="member-count" data-toggle="tooltip" data-placement="top"
                                                        data-title="Hellen Miller (you)<br>Melany Smith"
                                                        data-trigger="hover">
                                                        {{ beneficiary.total_beneficiaries}} Members
                                                    </span>
                                                </span>
                                            </td>
                                            
                                            <!-- Row Entry for Registered-->
                                            <td class="modifications">
                                                <span>
                                                    <span class="date">
                                                       {{beneficiary.registered_date}}
                                                    </span>
                                                </span>
                                            </td>

                                            <td class="actions">
                                                <div class="dropdown is-right dropdown-trigger document-list-dropdown">
                                                    <div class="button">
                                                        <i class="material-icons">more_horiz</i>
                                                    </div>
                                                
                                                    <div class="dropdown-menu is-text-bigger" role="menu">
                                                        <div class="dropdown-content">
                                                            <a href="#" class="dropdown-item">
                                                                Share
                                                            </a>
                                                            <a class="dropdown-item">
                                                                Download
                                                            </a>
                                                            <a class="dropdown-item">
                                                                Bookmark
                                                            </a>
                                                            <a class="dropdown-item">
                                                                Rename
                                                            </a>
                                                            <a class="dropdown-item">
                                                                Move
                                                            </a>
                                                            <a class="dropdown-item">
                                                                Copy
                                                            </a>
                                                            <a class="dropdown-item">
                                                                Delete
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>                                            <a href="#" class="button is-hidden"><i
                                                        class="material-icons">remove_red_eye</i></a>
                                            </td>

                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Right side menu -->
                    <div class="column is-3 is-hidden-mobile">
                        <div class="right-options">
                            <!-- members -->
                            <div class="members">
                                {% for beneficiary in beneficiaries|slice:":4" %}

                                    {% if beneficiary.logo %}
                                        <img src="https://via.placeholder.com/150x150"
                                            data-demo-src="{{ beneficiary.logo.url }}" data-toggle="tooltip"
                                            data-placement="top" data-title="{{ beneficiary.name }}" data-trigger="hover" alt="">
                                    {% endif %}

                                {% endfor %}
                            </div>
                            <!-- Share -->
                            <button type="button" class="button button-cta secondary-btn is-fullwidth is-bold raised">
                                Create Beneficiary
                            </button>
                            <!-- Actions list -->
                            <div id="default-controls" class="controls">
                                <a class="control-block">
                                    <i class="sl sl-icon-cloud-upload"></i>Import Beneficiaries
                                </a>
                                <a class="control-block">
                                    <i class="sl sl-icon-cloud-download"></i> Download Beneficiaries
                                </a>
                                <a class="control-block">
                                    <i class="sl sl-icon-eye"></i> Show deleted
                                </a>
                            </div>
                            <!-- Actions list -->
                            <div id="single-controls" class="controls is-hidden">
                                <a class="control-block">
                                    <i class="sl sl-icon-cloud-download"></i> Download Report
                                </a>
                                <a class="control-block">
                                    <i class="sl sl-icon-pencil"></i> Update
                                </a>
                                <a class="control-block">
                                    <i class="sl sl-icon-arrow-right-circle"></i> Change Sub-Project
                                </a>
                                <a class="control-block">
                                    <i class="sl sl-icon-eye"></i> Delete
                                </a>
                            </div>
                            <!-- Actions list -->
                            <div id="bulk-controls" class="controls is-hidden">
                                <a class="control-block">
                                    <i class="sl sl-icon-arrow-right-circle"></i> Change Sub-Project
                                </a>
                                <a class="control-block">
                                    <i class="sl sl-icon-eye"></i> Delete Selected
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
