{% load static %}

<!--suppress ALL -->
<div class="columns is-multiline">
	<!-- All Project Table Display -->
	<div class="column is-6">
		<h2 class="demo-title">Sub Porject Datatable</h2>
		<!-- Advanced Datatable -->
		<div class="table-wrapper">
			<table id="subprojects-datatable" class="table is-datatable is-hoverable table-is-bordered">
				<thead>
				<tr>
					<th><!-- Image pier--></th>
					<th>Name</th>
					<th>Approval</th>
					<th>Funds</th>
					<th>Status</th>
					<th>Description</th>
					<th>Project</th>
					<th>Created</th>
					<th><!-- CRUD actions pier --></th>
				</tr>
				</thead>
				<tfoot>
				<!-- Footer select one filters pier-->
				<tr>
					<th><!-- Image pier--></th>
					<th>Name</th>
					<th>Approved</th>
					<th>Funded</th>
					<th>Status</th>
					<th>Description</th>
					<th>Project</th>
					<th>Created</th>
					<th><i class="sl sl-icon-note text-primary"></i></th>
				</tr>
				</tfoot>
				<tbody>
				{% for subcomponent in subcomponents %}
				<tr>
					<td>
						{% if subcomponent.image_file %}
						<div class="face">
							<img class="datatable-avatar"
							     src="https://via.placeholder.com/250x250"
							     alt=""
							     data-demo-src="{{ subcomponent.image_file.url }}">
						</div>
						{% endif %}
					</td>
					<td>{{ subcomponent.name }}</td>
					<td><span class="tag">
						{% if subcomponent.approved is True %}
							<p>Yes</p>
						{% elif subcomponent.approved is False %}
							<p>No</p>
						{% else %}
							<p>Unknown</p>
						{% endif %}
					</span></td>
					<td><span class="tag">
						{% if subcomponent.has_funding is True %}
							<p>Yes</p>
						{% elif subcomponent.has_funding is False %}
							<p>No</p>
						{% else %}
							<p>Unknown</p>
						{% endif %}
					</span></td>
					<td><span class="meta">{{subcomponent.status}}</span></td>
					<td>
						<p><span class="post-title">
						{{subcomponent.description|truncatewords:6 }}
						</span></p>
					</td>
					<th><span class="meta">{{subcomponent.project}}</span></th>
					<th>
						<span>
							<small class="date">{{subcomponent.created}}</small>
						</span>
					</th>
					<th>
						<div class="dropdown is-right dropdown-trigger styled-dropdown is-round">
							<div class="button">
								<i class="material-icons text-success">more_vert</i>
							</div>
							<div class="dropdown-menu is-text-bigger has-text-left" role="menu">
								<div class="dropdown-content">
									<a href="{{ subcomponent.get_absolute_url }}" class="dropdown-item">
										<i class="sl sl-icon-share-alt text-primary"></i>
										<span>
				                            <span class="dark-text">View subcomponent</span>
				                            <span>View details of this subcomponent</span>
				                        </span>
									</a>
									<a href="#"
									   class="dropdown-item modal-trigger"
									   onClick="populateSubComponentForm('{{ project.slug }}', '{{ subcomponent.slug }}');"
									   data-toggle="update-project-modal">
										<i class="sl sl-icon-note text-success"></i>
										<span>
				                            <span class="dark-text">Edit subcomponent</span>
				                            <span>Update subcomponent details</span>
				                        </span>
									</a>
									<a href="#"
									   class="dropdown-item modal-trigger"
									   onClick="deleteSubComponentAction('{{ project.slug }}', '{{ subcomponent.slug }}');"
									   data-modal="delete-project-modal">
										<i class="sl sl-icon-ban text-danger"></i>
										<span>
				                            <span class="dark-text">Delete</span>
				                            <span>Remove this subcomponent</span>
				                        </span>
									</a>
								</div>
							</div>
						</div>
					</th>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			<div id="paging-first-datatable" class="pagination"></div>
		</div>
	</div>
</div>

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
</script>
{% endblock javascripts %}