{% extends "layouts/base.html" %}
{% load humanize %}
{% load static %}
{% load permission_tags %}

{% block title %}

{{ title|title }}

{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} 
	{{ search_form.media.css }}
{% block stylesheets %}
<!--suppress ALL -->
<style>
    #subproject-filters {
        margin: 5px;
        display: block;
    }

    /*To make the placeholder of a select one non-visible after an option is selected*/
    option[value=""][disabled] {
        display: none;
    }

    #projects-table {
        display: none;
    }

</style>
{% endblock stylesheets %}

<!-- PAGE content goes HERE -->
{% block content %}
{% include 'includes/project/project-create-modal.html' %}
{% include 'includes/project/project-update-modal.html' %}
{% include 'includes/project/project-delete-modal.html' %}
{% include 'includes/project/sub-project-update-modal.html' %}
{% include 'includes/project/sub-project-delete-modal.html' %}
{% include 'includes/indicator-forms.html' %}

<!-- Main dashboard container -->
<!-- <div class="projects-wrapper"> -->
	<div class="profile-heading" style="margin-left: 8em; margin-top: 6em;">
		{% if program.logo %}
		<img src="https://via.placeholder.com/250x250" alt=""
			 data-demo-src="{{ program.logo.url }}"
		/>
		{% elif not program.logo and program.name|lower == 'ppcr' %}
		<img
				src="https://via.placeholder.com/250x250"
				alt=""
				data-demo-src="{% static '/assets/images/ppcr.png' %}">
		{% elif not program.logo and program.name|lower == 'tralard' %}
		<img
				src="https://via.placeholder.com/250x250"
				alt=""
				data-demo-src="{% static '/assets/images/tralard.png' %}">
		{% else %}
		<img
				src="https://via.placeholder.com/250x250"
				alt=""
				data-demo-src="{% static '/assets/images/logos/logo.png' %}">
		{% endif %}
		<div>
			<h2 class="project-title">Project Name: {{ program.name|upper }}</h2>
			<h4 class="project-tagline no-margin-bottom">project landing page</h4>
		</div>
	</div>
<div id="dashboard-wrapper" class="dashboard-outer" style="display: flex;">
		<form action="" class="left" id="search-form123" style="margin-top: 15.5em; padding-right: 0px;" method="get">
			{{ search_form.province }}<br /> 
			{{ search_form.district }}<br />
			{{ search_form.ward }}<br />
			<div style="display: flex; word-spacing: 12px;">
				<input type="submit" value="Search" class="btn btn-outline-secondary" style="background: #21546d; color: white; padding-left: 2.5em; padding-right: 2.5em; margin-right: 0.25em;" /> <a style="background: #21546d; color: white; margin-left: 0.25em; margin-top: 0px; padding-left: 2.5em; padding-right: 2.5em;" href="{% url 'tralard:program-detail' program_slug %}" class="btn btn-outline-secondary">reset</a>
			</div>
		</form>
	<style>
		.left, #select2-id_province-container, #select2-id_province-results, .select2-dropdown--below, .select2-selection--single {
			float: left;
			width: 230px;
			height: 100%;
		  }
		.select2-selection--single {
			margin-bottom: 12px;
		 }
		.select2-search--dropdown {
			width: 240px;
			margin-left: -8px;
			margin-top: -18px;
		}
		.select2-selection__arrow b {
			visibility: hidden;
			margin-left: -8em;
		}

		.select2-results__options {
			background-color: white;
			float: left;
			width: 230px;
			height: 100%;
		}
	</style>
	<div id="dashboard-wrapper" class="dashboard-outer">
		
		<!-- Dashboard Wrapper -->
		<div class="dashboard-wrapper">

			<div id="main-dashboard" class="section-wrapper">
				<!-- Dashboard content -->
				<div id="basic-layout"  class="dashboard-columns">

					<!-- <div class="projects-wrapper">
						<div class="profile-heading">
							{% if program.logo %}
							<img src="https://via.placeholder.com/250x250" alt=""
							     data-demo-src="{{ program.logo.url }}"
							/>
							{% elif not program.logo and program.name|lower == 'ppcr' %}
							<img
									src="https://via.placeholder.com/250x250"
									alt=""
									data-demo-src="{% static '/assets/images/ppcr.png' %}">
							{% elif not program.logo and program.name|lower == 'tralard' %}
							<img
									src="https://via.placeholder.com/250x250"
									alt=""
									data-demo-src="{% static '/assets/images/tralard.png' %}">
							{% else %}
							<img
									src="https://via.placeholder.com/250x250"
									alt=""
									data-demo-src="{% static '/assets/images/logos/logo.png' %}">
							{% endif %}
							<div>
								<h2 class="project-title">Project Name: {{ program.name|upper }}</h2>
								<h4 class="project-tagline no-margin-bottom">project landing page</h4>
							</div>
						</div> -->
						
						<div class="navigation-tabs layout-tabs overflow-tabs animated-tabs mt-20 mb-20">
							<div  class="tabs is-toggle is-fullwidth">
								<ul>
									<li class="tab-link is-active" data-tab="my-teams" >
										<a id="projects_tab">SubProjects</a>
									</li>
									<li class="tab-link"  data-tab="my-projects" >
										<a id="subprojects_tab">Interventions</a>
									</li>
									<li class="tab-link"  data-tab="my-tasks">
										<a id="beneficiaries_tab">Beneficiaries</a>
									</li>
									<li class="tab-link"  data-tab="indicators-list">
										<a id="indicators_tab">Indicators</a>
									</li>
								</ul>
							</div>
							<!-- All Projects Display -->
							<script>
								document.getElementById("first-tab123").addEventListener("click", ()=>{
									document.getElementById("search-form123").hidden = false;
								})
								document.getElementById("second-tab123").addEventListener("click", ()=>{
									document.getElementById("search-form123").hidden = false;
								})
								document.getElementById("third-tab123").addEventListener("click", ()=>{
									document.getElementById("search-form123").hidden = false;
								})
								document.getElementById("fourth-tab123").addEventListener("click", ()=>{
									document.getElementById("search-form123").hidden = false;
								})
							</script>
							<div id="my-teams" class="navtab-content is-active">
								<!-- Projects Group -->
								<div class="projects-list-wrapper">
									<div class="list-header">
										
										<div class="list-title">
                                                <span> Showing All SubProjects Under {{ program.name|upper }}
                                                    <h4 class="project-tagline no-margin-bottom">total count: {{ total_projects }}</h4>
                                                </span> 
												<div class="add-button modal-trigger"
													data-modal="project-form-modal">
													<i class="material-icons" title="Create new project">add</i>
												</div>
											</div>
											<div class="list-filter">
												<div class="control">
													<form method="get" action="">
														<input class="input"
														id="search-projects"
														name="search-projects"
														onkeyup="searchProjectAction('{{ program.slug }}');"
														type="text"
														placeholder="Filter Projects">
														<div class="form-icon">
															<i id="search-icon" data-feather="filter"></i>
														</div>
													</form>
												</div>
											</div>
										</div>
										<div class="list-body" id="projects-content">
										{% include 'includes/project/project-list.html' %}
									</div>
									<div class="list-body" id="projects-table">
										{% include 'includes/project/project-table.html' %}
									</div>
								</div>
							</div>
							<!-- Projects + Subproject Wrapper -->
							<div id="my-projects" class="navtab-content">
								
								<!-- SubProjects content -->
								<div class="projects-list-wrapper" >
									<!-- SubProjects Group -->
									<div class="list-header">
										<div class="list-title">
											<span>Showing All Interventions Under {{ program.name|upper }}
												<h4 class="project-tagline no-margin-bottom">total count: {{ total_sub_projects }}</h4>
                                            </span>
											<div class="add-button modal-trigger"
											data-modal="project-form-modal">
											<i class="material-icons" title="Create new project">add</i>
										</div>
									</div>
									<div class="list-filter">
										<div class="control">
											<form method="get" action="">
												<input class="input"
												id="search-subprojects"
												name="search-projects"
												onkeyup="searchSubprojectsAction('{{ program.slug }}');"
												type="text"
												placeholder="Filter Subrojects"/>
												<div class="form-icon">
													<i id="search-icon" data-feather="filter"></i>
												</div>
											</form>
										</div>
									</div>
								</div>
								
								<!-- All SubProject Listing -->
								<div class="list-body" id="subprojects-content">
										{% include 'includes/sub-project-list.html' %}
									</div>
								</div>
							</div>
							<!-- Beneficiary List -->
							<div id="my-tasks" class="navtab-content">

								<!-- Beneficiary List -->
								<div style="" class="projects-list-wrapper">
									<div class="list-header">
										<div class="list-title">
											<span>Showing All Beneficiaries Under {{ program.name|upper }} </span>
										</div>
										<div class="list-filter">
											<div class="control">
												<form method="get" action="">
													<input class="input"
													       id="search-beneficiaries"
													       name="search-beneficiaries"
													       onkeyup="searchBeneficiariesAction('{{ program.slug }}');"
													       type="text"
													       placeholder="Filter Beneficiaries"/>
													<div class="form-icon">
														<i data-feather="filter"></i>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="list-body" id="beneficiaries-content">
										{% include 'includes/beneficiary-list.html' %}
									</div>
								</div>

							</div>

							<!-- Indicators List -->
							<div id="indicators-list" class="navtab-content">

								<!-- Beneficiary List -->
								<div class="projects-list-wrapper">

									<div class="" style="display: flex; justify-content: center;">
										<ul>
											<div class="column is-12" style="display: flex; justify-content: center;">
												{% for form in indicator_forms %}
													       <button type="button" class="button btn-dash primary-btn btn-dash modal-trigger m-1"data-modal="{{form.modal_id}}">{{form.modal_subheader}}</button>
												{% endfor %}
											</div>

											{% comment %} <li>
											</li> {% endcomment %}
											<div class="column is-12" style="display: flex; justify-content: center;">
												<a class="button btn-dash primary-btn btn-dash m-1"
											   href="{% url 'tralard:preview_indicator_report' program.slug %}"
											   target="_blank">View as PDF <i class="sl sl-icon-docs ml-2"></i></a>

										<button
												id="download-indicator-report"program-slug="{{program.slug}}"
												class="button btn-dash primary-btn btn-dash has-icon m-1"
												data-ripple-color=""
										>
											Download  <i class="sl sl-icon-cloud-download ml-2"></i>
										</button></div>
										</ul>

									</div>
									<div class="list-body" id="indicators-content">
										{% include 'includes/indicator-list.html' %}
									</div>
								</div>

							</div>
							<!-- Indicators List end -->

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Invite User Modal -->
<div id="invite-user-modal" class="modal modal-md invite-user-modal modal-hero">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="flex-card simple-shadow">
			<h2 class="dark-text">Invite Users</h2>
			<div class="card-body">
				<div class="has-text-centered">
					<div class="image">
						<img src="{% static '/assets/images/icons/invitation.svg' %}" alt=""/>
					</div>
					<div class="help-text has-text-left">Send an invite link via email to add members to this team</div>

					<div class="field">
						<div class="control has-icons-left">
							<input class="input is-medium" type="text" placeholder="Recipient email address"/>
							<span class="icon is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
						</div>
					</div>

					<div class="add-more">
						<i class="material-icons">add</i>
						<span>Add another</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="button is-modal">Invite Users</button>
			</div>
		</div>
	</div>
	<button class="modal-close is-large is-hidden" aria-label="close"></button>
</div>
<!-- /Invite User Modal -->
<!-- Create Project Modal -->
<div id="create-project-modal" class="modal create-project-modal modal-hero">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="flex-card simple-shadow">
			<h2 class="has-text-centered dark-text">New SubProject</h2>
			<div class="navigation-tabs layout-tabs animated-tabs">
				<div class="tabs is-toggle is-fullwidth no-margin-bottom" style="position:fixed;">
					<ul>
						<li class="tab-link is-active" data-tab="project-details"><a>Details</a></li>
						<li class="tab-link" data-tab="project-members"><a>Members</a></li>
					</ul>
				</div>

				<div id="project-details" class="navtab-content is-active">
					<div class="card-body">
						<div class="content">
							<!-- New Project form -->
							<form>

								<div class="field mb-10">
									<label class="label dark-text">Project Dates</label>
									<div class="columns is-vcentered is-fieldset">
										<div class="column is-3">
											<div class="field-label">Start date*</div>
										</div>
										<div class="column is-9">
											<div class="control has-icons-right">
												<input data-toggle="datepicker" type="text" class="input is-medium"
												       placeholder="Start Date"
												/><span class="icon is-right is-medium">
                                                        <i class="im im-icon-Calendar-4"></i>
                                                    </span>
											</div>
										</div>
									</div>
									<div class="columns is-fieldset">
										<div class="column is-3">
											<div class="field-label">End Date*</div>
										</div>
										<div class="column is-9">
											<div class="control has-icons-right">
												<input data-toggle="datepicker" type="text" class="input is-medium"
												       placeholder="End Date"/>
												<span class="icon is-right is-medium">
                                                        <i class="im im-icon-Calendar-4"></i>
                                                    </span>
											</div>
										</div>
									</div>
								</div>

								<div class="field mb-10">
									<label class="label dark-text">Project Meta</label>
									<div class="columns is-vcentered is-fieldset">
										<div class="column is-3">
											<div class="field-label">Project Name*</div>
										</div>
										<div class="column is-9">
											<input type="text" class="input is-medium"/>
										</div>
									</div>
									<div class="columns is-fieldset">
										<div class="column is-3">
											<div class="field-label">Description*</div>
										</div>
										<div class="column is-9">
											<textarea class="textarea" rows="4"></textarea>
										</div>
									</div>
								</div>

								<div class="form-footer">
									<button type="submit" class="button is-modal">Create Project</button>
								</div>

							</form>
							<!-- /New Project form -->
						</div>
					</div>
				</div>

				<div id="project-members" class="navtab-content">

					<div class="project-members">
						<div class="face">
							<img src="https://via.placeholder.com/250x250" alt=""
							     data-demo-src="{% static '/assets/images/avatars/ray.jpg' %}"
							/></div>
						<div class="face">
							<img src="https://via.placeholder.com/250x250" alt=""
							     data-demo-src="{% static 'assets/images/avatars/helen.jpg' %}"
							/></div>
						<div class="face">
							<img src="https://via.placeholder.com/250x250" alt=""
							     data-demo-src="{% static 'assets/images/avatars/elie.jpg' %}"/>
						</div>
						<div class="face">
							<img src="https://via.placeholder.com/250x250" alt=""
							     data-demo-src="{% static 'assets/images/avatars/ben.jpg' %}"/>
						</div>
					</div>

					<div class="modal-filter">
						<div class="control">
							<input class="input is-medium is-rounded" type="text" placeholder="Filter Members"/>
							<span class="material-icons">filter_list</span>
						</div>
					</div>

					<div class="card-body">
						<div class="members-select">
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/eric.png' %}"/>
								<span>Eric Daniels</span>
								<div class="b-checkbox is-secondary">
									<input id="user1" class="styled" type="checkbox" checked/>
									<label for="user1"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/anthony.jpg' %}"
								/><span>Anthony Briggs</span>
								<div class="b-checkbox is-secondary">
									<input id="user2" class="styled" type="checkbox" checked/>
									<label for="user2"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/janet.jpg' %}"
								/><span>Jenna De Camp</span>
								<div class="b-checkbox is-secondary">
									<input id="user3" class="styled" type="checkbox" checked/>
									<label for="user3"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/aaron.jpg' %}"/>
								<span>Rolf Van Buren</span>
								<div class="b-checkbox is-secondary">
									<input id="user4" class="styled" type="checkbox"/>
									<label for="user4"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/marge.jpg' %}"/>
								<span>Magda Hilden</span>
								<div class="b-checkbox is-secondary">
									<input id="user5" class="styled" type="checkbox"/>
									<label for="user5"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/alex.jpg' %}"
								/><span>Alex Sheller</span>
								<div class="b-checkbox is-secondary">
									<input id="user6" class="styled" type="checkbox"/>
									<label for="user6"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/jane.jpg' %}"
								/><span>Katarina Vosniak</span>
								<div class="b-checkbox is-secondary">
									<input id="user7" class="styled" type="checkbox"/>
									<label for="user7"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<button class="modal-close is-large is-hidden" aria-label="close"></button>
</div>
<!-- Reminder Modal -->
<!-- Create Task Modal -->
<div id="create-task-modal" class="modal create-task-modal modal-hero">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="flex-card simple-shadow">
			<h2 class="has-text-centered dark-text">New Task</h2>
			<div class="navigation-tabs layout-tabs animated-tabs">
				<div class="tabs is-toggle is-fullwidth no-margin-bottom">
					<ul>
						<li class="tab-link is-active" data-tab="task-details"><a>Details</a></li>
						<li class="tab-link" data-tab="task-members"><a>Members</a></li>
					</ul>
				</div>

				<div id="task-details" class="navtab-content is-active">
					<div class="card-body">
						<div class="content">
							<!-- New Project form -->
							<form>

								<div class="field mb-10">
									<label class="label dark-text">Due Date</label>
									<div class="columns is-vcentered is-fieldset">
										<div class="column is-3">
											<div class="field-label">Start date*</div>
										</div>
										<div class="column is-9">
											<div class="control has-icons-right">
												<input data-toggle="datepicker" type="text" class="input is-medium"
												       placeholder="Start Date"
												/><span class="icon is-right is-medium">
                                                        <i class="im im-icon-Calendar-4"></i>
                                                    </span>
											</div>
										</div>
									</div>
									<div class="columns is-fieldset">
										<div class="column is-3">
											<div class="field-label">End Date*</div>
										</div>
										<div class="column is-9">
											<div class="control has-icons-right">
												<input data-toggle="datepicker" type="text" class="input is-medium"
												       placeholder="End Date"/>
												<span class="icon is-right is-medium">
                                                        <i class="im im-icon-Calendar-4"></i>
                                                    </span>
											</div>
										</div>
									</div>
								</div>

								<div class="field mb-10">
									<label class="label dark-text">Task Meta</label>
									<div class="columns is-vcentered is-fieldset">
										<div class="column is-3">
											<div class="field-label">Task Title*</div>
										</div>
										<div class="column is-9">
											<input type="text" class="input is-medium"/>
										</div>
									</div>
									<div class="columns is-fieldset">
										<div class="column is-3">
											<div class="field-label">Description*</div>
										</div>
										<div class="column is-9">
											<textarea class="textarea" rows="4"></textarea>
										</div>
									</div>
								</div>

								<div class="form-footer">
									<button type="submit" class="button is-modal">Create Task</button>
								</div>
							</form>
							<!-- /New Project form -->
						</div>
					</div>
				</div>

				<div id="task-members" class="navtab-content">

					<div class="task-members">
						<div class="face">
							<img src="https://via.placeholder.com/250x250" alt=""
							     data-demo-src="{% static 'assets/images/avatars/ray.jpg' %}"
							/></div>
						<div class="face">
							<img src="https://via.placeholder.com/250x250" alt=""
							     data-demo-src="{% static 'assets/images/avatars/helen.jpg' %}"
							/></div>
						<div class="face">
							<img src="https://via.placeholder.com/250x250" alt=""
							     data-demo-src="{% static 'assets/images/avatars/elie.jpg' %}"/>
						</div>
						<div class="face">
							<img src="https://via.placeholder.com/250x250" alt=""
							     data-demo-src="{% static 'assets/images/avatars/ben.jpg' %}"/>
						</div>
					</div>

					<div class="modal-filter">
						<div class="control">
							<input class="input is-medium is-rounded" type="text" placeholder="Filter Members"/>
							<span class="material-icons">filter_list</span>
						</div>
					</div>

					<div class="card-body">
						<div class="members-select">
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/eric.png' %}"
								/><span>Eric Daniels</span>
								<div class="b-checkbox is-secondary">
									<input id="task-user1" class="styled" type="checkbox" checked
									/><label for="task-user1"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/anthony.jpg' %}"
								/><span>Anthony Briggs</span>
								<div class="b-checkbox is-secondary">
									<input id="task-user2" class="styled" type="checkbox" checked
									/><label for="task-user2"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/janet.jpg' %}"
								/><span>Jenna De Camp</span>
								<div class="b-checkbox is-secondary">
									<input id="task-user3" class="styled" type="checkbox" checked
									/><label for="task-user3"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/aaron.jpg' %}"/>
								<span>Rolf Van Buren</span>
								<div class="b-checkbox is-secondary">
									<input id="task-user4" class="styled" type="checkbox"/>
									<label for="task-user4"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/marge.jpg' %}"
								/><span>Magda Hilden</span>
								<div class="b-checkbox is-secondary">
									<input id="task-user5" class="styled" type="checkbox"/>
									<label for="task-user5"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/alex.jpg' %}"
								/><span>Alex Sheller</span>
								<div class="b-checkbox is-secondary">
									<input id="task-user6" class="styled" type="checkbox"/>
									<label for="task-user6"></label>
								</div>
							</div>
							<div class="member-row">
								<img src="https://via.placeholder.com/250x250" alt=""
								     data-demo-src="{% static 'assets/images/avatars/jane.jpg' %}"/>
								<span>Katarina Vosniak</span>
								<div class="b-checkbox is-secondary">
									<input id="task-user7" class="styled" type="checkbox"/>
									<label for="task-user7"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<button class="modal-close is-large is-hidden" aria-label="close"></button>
</div>
<!-- Create task Modal -->
<!-- Create Team Modal -->
<div id="create-team-modal" class="modal modal-md icon-action-modal modal-hero">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="flex-card simple-shadow">
			<h2 class="dark-text">New Team</h2>
			<div class="card-body">
				<div class="has-text-centered">
					<div class="image">
						<img src="{% static 'assets/images/icons/basket.svg' %}"/>
					</div>
					<div class="help-text has-text-left">Create a New Team to use in your projects</div>

					<div class="field">
						<div class="control has-icons-left">
							<input class="input is-medium" type="text" placeholder="Team Name"/>
							<span class="icon is-left">
                                    <i class="fa fa-users"></i>
                                </span>
						</div>
					</div>

					<div class="columns is-fieldset">
						<div class="column">
                            <textarea class="textarea" rows="3"
                                      placeholder="What will this team be in charge of ?"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="button modal-dismiss">Cancel</button>
				<button type="submit" class="button is-modal">Create Team</button>
			</div>
		</div>
	</div>
	<button class="modal-close is-large" aria-label="close"></button>
</div>

 <!-- Delete Beneficiary Modal --><!-- Delete Beneficiary Modal -->
<div id="delete-indicator-modal" class="modal modal-md icon-action-modal modal-hero">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="flex-card simple-shadow">
			<div class="help-text has-text-left">
				<h2 class="dark-text">Delete Indicator</h2>

			</div>

			<div class="card-body">

				<form id="delete-indicator-form" class="form" action="" method="post">
					{% csrf_token %}
					<div id="warning-msg">
					</div>

					<div class="modal-footer">
						<button type="button" onClick="handleDeleteBeneficiary('UNSET_ACTION_URL');" class="button modal-dismiss">Cancel</button>
						<button class=" is-danger is-modal" type="submit">Confirm</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ search_form.media.js }}
<script>
  let origin = location.origin;
  const delay_by_in_ms = 700
  const search_icon = $('#search-icon')

  /* Pagination */


  function populateProjectForm(program_slug, project_slug) {
    console.log(`Project form params; |Program=${program_slug}, Project=${project_slug}|`);
    const updateUrl = `${origin}/program/${program_slug}/project/${project_slug}/update`;

    fetch(updateUrl, {
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
    })
      .then((response) => {
        return response.json();
      })
      .then((payload) => {
        let projectData = payload.project;
        console.log(`populating project details for ${projectData.name}`);

        if (projectData.approved == true) {
          $(`#id_approved option[value="${projectData.approved}"]`).prop(
            "selected",
            true
          );
        } else if (projectData.approved == false) {
          $(`#id_approved option[value="${projectData.approved}"]`).val(
            projectData.approved
          );
        } else {
          $(`#id_approved option[value="${projectData.approved}"]`).prop(
            "selected",
            false
          );
        }

        if (projectData.has_funding == true) {
          $(`#id_has_funding option[value="${projectData.has_funding}"]`).prop(
            "selected",
            true
          );
        } else if (projectData.has_funding == false) {
          $(`#id_has_funding option[value="${projectData.has_funding}"]`).val(
            projectData.has_funding
          );
        } else {
          $(`#id_has_funding option[value="${projectData.has_funding}"]`).prop(
            "selected",
            false
          );
        }

        $("#edit-project-form input[name='name']").val(projectData.name);
        $("#edit-project-form textarea[name='description']").val(
          projectData.description
        );
        $("#edit-project-form select[name='program']").val(projectData.program);
        $("#edit-project-form select[name='project_representative']").val(
          projectData.project_representative
        );
        $("#edit-project-form select[name='project_managers']").val(
          projectData.project_managers
        );
        $("#edit-project-form select[name='training_managers']").val(
          projectData.training_managers
        );
        $("#edit-project-form select[name='certification_managers']").val(
          projectData.certification_managers
        );
        $("#edit-project-form textarea[name='custom_precis']").val(
          projectData.precis
        );
        $("#edit-project-form input[name='focus_area']").val(
          projectData.focus_area
        );
        $("#edit-project-form input[name='image_file']").val(
          projectData.image_url
        );
        $("#edit-project-form").attr("action", updateUrl);
      })
      .catch(function (err) {
        console.error(err.message);
        console.log(`Error populating project form due to: ${err}`);
      });
  }

  function deleteProjectAction(program_slug, project_slug) {
    const url = `${origin}/program/${program_slug}/project/${project_slug}/delete`;
    $("#delete-project-form").attr("action", url);
  }

  const useSearchRequestApi = (url, request_parameters, content, view) => {
    search_icon.addClass('blink')
    $.getJSON(url, request_parameters).done(response => {
      // fade out the contents, then:
      content.fadeTo('slow', 0).promise().then(() => {
        // replace the HTML contents
        content.html(response[view])
        // fade-in the div with new contents
        content.fadeTo('slow', 1)
        // stop animating search icon
        search_icon.removeClass('blink')
      })
    })
  }

  function searchProjectAction(program_slug) {
    const programDetailUrl = `${origin}/program/${program_slug}/detail/`
    const projects_div = $('#projects-content')
    let user_input = $("#search-projects").val()
    const request_parameters = {
      q: user_input // value of user_input: the HTML element with ID user-input
    }
    useSearchRequestApi(programDetailUrl, request_parameters, projects_div, "search_result_view")
  }

  function searchSubprojectsAction(program_slug) {
    const programDetailUrl = `${origin}/program/${program_slug}/detail/`
    const subprojects_div = $('#subprojects-content')
    let filter_input = $("#search-subprojects").val()
    const request_parameters = {
      subproject_query: filter_input
    }
    useSearchRequestApi(programDetailUrl, request_parameters, subprojects_div, "subproj_search_result")
  }

  function searchBeneficiariesAction(program_slug) {
    const programDetailUrl = `${origin}/program/${program_slug}/detail/`
    const beneficiaries_div = $('#beneficiaries-content')
    let filter_input = $("#search-beneficiaries").val()
    const request_parameters = {
      beneficiaries_query: filter_input
    }
    useSearchRequestApi(programDetailUrl, request_parameters, beneficiaries_div, "beneficiaries_search_result")
  }

  // toggle subproject list into a (table || grid) view
  let mode = "grid" // subproject view default mode
  const toggleSubProjectView = (viewType) => {
    if (!viewType) return
    mode = viewType
    //blocks affected by toggle side effect
    const subprojects_grid = document.getElementById('projects-content')
    const subprojects_table = document.getElementById('projects-table')
    const grid_icon = document.getElementById('grid_filter_icon')
    const table_icon = document.getElementById('table_filter_icon')

    if (mode === "table") {
      subprojects_grid.style.display = 'none'
      subprojects_table.style.display = 'block'

    } else if (mode === "grid") {
      subprojects_grid.style.display = 'block'
      subprojects_table.style.display = 'none'
    }
  }

function populateIndicatorForm(actionType, program_slug, indicator_slug='', field_name='') {
		const origin = location.origin;
        const baseUrl = `${origin}/program/${program_slug}/detail`
        const updateUrl = `${baseUrl}/indicator_name/${indicator_slug}/update`
        const createUrl = `${baseUrl}/indicator_name`


		if (actionType === "POPULATE_FORM") {
			$("#indicator_name input[name='name']").val(field_name);

			$("#indicator_name").attr('action', updateUrl);
			// $('#modal_header').text("Indicator Name")
			$('#modal_subheader0').text("Update Indicator Name")
			$('#form-submit-button0').text("Update")
		} else {
			$("#indicator_name input[name='name']").val('');
            $("#indicator_name").attr('action', createUrl);
            $('#modal_subheader0').text("Create Indicator Name")
            $('#form-submit-button0').text("Create")
		}
    }

	function fetchData (url) {
        const formData = $.get(url)
        return formData
    }

	async function populateIndicatorTargetForm(actionType, program_slug, indicator_target_id='', field_name='') {
		const origin = location.origin;
        const baseUrl = `${origin}/program/${program_slug}/detail`
        const updateUrl = `${baseUrl}/indicator_target/${indicator_target_id}/update`
        const createUrl = `${baseUrl}/indicator_target`

		 if (actionType === "POPULATE_FORM") {
            let formData = await fetchData(updateUrl)
            data = formData
        } else if (actionType == "CLEAR_FORM") {
            data = {}
			console.log(data)
        }



		data.unit_of_measure ? $(`#id_unit_of_measure option[value="${data.unit_of_measure}"]`).prop('selected', true) : $(`#id_unit_of_measure option[value=""]`).prop('selected', true).text('---------');
		$("#indicator_target textarea[name='description']").val(data.description || '');
		$("#indicator_target input[name='baseline_value']").val(data.baseline_value || '');
		$("#indicator_target").attr('action', updateUrl);
		data.indicator ? $(`#id_indicator option[value="${data.indicator}"]`).prop('selected', true) : $(`#id_indicator option[value=""]`).prop('selected', true).text('---------');
		$('#modal_subheader1').text("Update Indicator Target")
		$('#form-submit-button1').text("Update")
		if (actionType === "CLEAR_FORM") {
			$("#indicator_target").attr('action', createUrl);
			$('#modal_subheader1').text("Create Indicator Target")
			$('#form-submit-button1').text("Create")
		}
    }


	async function populateIndicatorTargetValueForm(actionType, program_slug, indicator_target_value_id='', field_name='') {
		const origin = location.origin;
        const baseUrl = `${origin}/program/${program_slug}/detail`
        const updateUrl = `${baseUrl}/indicator_target_value/${indicator_target_value_id}/update`
        const createUrl = `${baseUrl}/indicator_target_value`

		 if (actionType === "POPULATE_FORM") {
            let formData = await fetchData(updateUrl)
            data = formData
        } else if (actionType == "CLEAR_FORM") {
            data = {}
        }

		$("#indicator_target_value input[name='year']").val(data.year || '');
		$("#indicator_target_value input[name='target_value']").val(data.target_value || '');
		data.indicator_target ? $(`#id_indicator_target option[value="${data.indicator_target}"]`).prop('selected', true) : $(`#id_unit_of_measure option[value=""]`).prop('selected', true).text('---------');

		$("#indicator_target_value").attr('action', updateUrl);
		$('#modal_subheader2').text("Update Indicator Target Value")
		$('#form-submit-button2').text("Update")

		if (actionType === "CLEAR_FORM") {
			$("#indicator_target_value").attr('action', createUrl);
			$('#modal_subheader2').text("Create Indicator Target Value")
			$('#form-submit-button2').text("Create")
		}
    }


	async function populateIndicatorUnitOfMeasureForm(actionType, program_slug, indicator_target_unit_id='', field_name='') {
		const origin = location.origin;
        const baseUrl = `${origin}/program/${program_slug}/detail`
        const updateUrl = `${baseUrl}/indicator_target_unit/${indicator_target_unit_id}/update`
        const createUrl = `${baseUrl}/indicator_target_unit`

		 if (actionType === "POPULATE_FORM") {
            let formData = await fetchData(updateUrl)
            data = formData
        } else if (actionType == "CLEAR_FORM") {
            data = {}
        }


		$("#indicator_target_unit input[name='unit_of_measure']").val(data.unit_of_measure || '');
		data.data_source ? $(`#id_data_source option[value="${data.data_source}"]`).prop('selected', true) : $(`#id_data_source option[value=""]`).prop('selected', true).text('---------');

		$("#indicator_target_unit").attr('action', updateUrl);
		$('#modal_subheader3').text("Update Indicator Unit of Measure")
		$('#form-submit-button3').text("Update")

		if (actionType === "CLEAR_FORM") {
			$("#indicator_target_unit").attr('action', createUrl);
			$('#modal_subheader3').text("Create Indicator Indicator Unit of Measure")
			$('#form-submit-button3').text("Create")
		}
    }

	function handleDeleteIndicator(actionType, program_slug='', indicator_slug='') {
        const origin = location.origin;
        const baseUrl = `${origin}/program/${program_slug}/detail`
        const formActionUrl = `${baseUrl}/indicator_name/${indicator_slug}/delete`

        if (actionType === "SET_ACTION_URL") {
            $('#delete-indicator-form').attr('action', formActionUrl)
        } else if (actionType === "UNSET_ACTION_URL") {
            $('#delete-indicator-form').attr('action', " ")
        }
    }
</script>
{% endblock javascripts %}