psycopg2-binary==2.8.6
Django==2.2
# Django==3.1.13
django-role-permissions==2.2.0
django-utils-six==2.0
markdown==2.6.11
celery==4.1.0
django-braces==1.15.0

# Raven pinned to 3.3.7 - see
# https://github.com/getsentry/raven-python/issues/337
raven==5.8.1
# django-sentry==1.13.5
pytz==2021.3
django-tinymce4-lite==1.8.0
django-ckeditor==6.0.0
django-crispy-forms==1.9.2
Pillow==8.4.0
easy-thumbnails
django-filer==2.1.1
requests==2.25.1
django-import-export==2.7.0
django-map-widgets==0.3.2
django-imagekit==4.1.0
django-report-builder==6.4.2
django-grappelli==2.13.4
django-infinite-scroll-pagination==1.2.0
# support special characters

# Django Easy Audit
# https://github.com/soynatan/django-easy-audit
git+https://github.com/soynatan/django-easy-audit.git

# djangorestframework>=3.8.0
# django-filter==2.4.0
# coreapi==2.3.3
pygbif==0.2.0

djangocms-admin-style==2.0.2
django-money==2.1 # https://django-money.readthedocs.io/en/stable/
django-map-widgets==0.3.2 # https://django-map-widgets.readthedocs.io/en/latest/installation/index.html

# Django beneficiary
git+https://github.com/Digital-Prophets/dj-beneficiary.git

folium