{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Datatable basic {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- PAGE content goes HERE -->
{% block content %}

    <!-- Main dashboard container -->
    <div id="dashboard-wrapper" class="dashboard-outer">
        <div class="dashboard-inner">
    
            <!-- Dashboard Wrapper -->
            <div class="dashboard-wrapper">
    
                <div id="main-dashboard" class="section-wrapper">
                    <!-- Dashboard content -->
                    <div id="basic-layout" class="dashboard-columns">
    
                        <h2 class="demo-title">Basic Datatable</h2>
                        <!-- Basic Datatable -->
                        <div class="table-wrapper">
                            <table id="basic-datatable" class="table is-datatable">
                                <thead>
                                    <tr>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Position</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div id="paging-first-datatable" class="pagination"></div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
