{% extends "layouts/base.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% block title %} Training {% endblock %}
<!-- CSS only -->
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- PAGE content goes HERE -->
{% block content %}
    <!-- Main dashboard container -->
    <div id="dashboard-wrapper" class="dashboard-outer">
        <div class="dashboard-inner">
            <!-- Dashboard Wrapper -->
            <div class="dashboard-wrapper">
    
                <div id="main-dashboard" class="section-wrapper">
                    <!-- Dashboard content -->
                    <div id="basic-layout" class="dashboard-columns">
    
                        <div class="projects-wrapper">
    
                            <div id="my-tasks" class="navtab-content">       
                                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                                            <div class="row">
                                              <div class="col-lg-12 d-flex flex-column">
                                                <div class="row flex-grow">
                                                  <div class="col-12 grid-margin stretch-card">
                                                    <div class="card card-rounded">
                                                      <div class="card-body">
                                                        
                                                        <div style="padding: 1em;" class="table-responsive  mt-1">
                                                          <form name="trainers_form" method="post" class="form-create"> {% csrf_token %}
                                                              <!-- <input type="hidden" name="csrfmiddlewaretoken" value="ZoLmFwzasbLt0CzBZxezqHSb63gNpCHtteu2f9KOAy0mTbDtODb1rm8pimHGDoVF"> -->
                                                            <style>
                                                                .modal-trigger:hover {
                                                                    background: blue;
                                                                    color: white;
                                                                }
                                                            </style>
                                                            {% crispy form form.helper %}
                                                            <input class='btn btn-primary' type='submit' value='Create Training' style='margin-top: -6em;  margin-left: 1em;' />
                                                          </form>
                                                        </div>
                                                        <div class="m-3">
                                
                                                          
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Invite User Modal -->
    <div id="invite-user-modal" class="modal modal-md invite-user-modal modal-hero">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="flex-card simple-shadow">
                <h2 class="dark-text">Invite Users</h2>
                <div class="card-body">
                    <div class="has-text-centered">
                        <div class="image">
                            <img src="{% static 'assets/images/icons/invitation.svg' %}">
                        </div>
                        <div class="help-text has-text-left">Send an invite link via email to add members to this team</div>
    
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input is-medium" type="text" placeholder="Recipient email address">
                                <span class="icon is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
    
                        <div class="add-more">
                            <i class="material-icons">add</i>
                            <span>Add another</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="button is-modal">Invite Users</button>
                </div>
            </div>
        </div>
        <button class="modal-close is-large is-hidden" aria-label="close"></button>
    </div>
    <!-- /Invite User Modal --><!-- Create Project Modal -->
    <div id="create-project-modal" class="modal create-project-modal modal-hero">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="flex-card simple-shadow">
                <h2 class="has-text-centered dark-text">New Project</h2>
                <div class="navigation-tabs layout-tabs animated-tabs">
                    <div class="tabs is-toggle is-fullwidth no-margin-bottom">
                        <ul>
                            <li class="tab-link is-active" data-tab="project-details"><a>Details</a></li>
                            <li class="tab-link" data-tab="project-members"><a>Members</a></li>
                        </ul>
                    </div>
    
                    <div id="project-details" class="navtab-content is-active">
                        <div class="card-body">
                            <div class="content">
                                <!-- New Project form -->
                                <form>
    
                                    <div class="field mb-10">
                                        <label class="label dark-text">Project Dates</label>
                                        <div class="columns is-vcentered is-fieldset">
                                            <div class="column is-3">
                                                <div class="field-label">Start date*</div>
                                            </div>
                                            <div class="column is-9">
                                                <div class="control has-icons-right">
                                                    <input data-toggle="datepicker" type="text" class="input is-medium"
                                                        placeholder="Start Date">
                                                    <span class="icon is-right is-medium">
                                                        <i class="im im-icon-Calendar-4"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="columns is-fieldset">
                                            <div class="column is-3">
                                                <div class="field-label">End Date*</div>
                                            </div>
                                            <div class="column is-9">
                                                <div class="control has-icons-right">
                                                    <input data-toggle="datepicker" type="text" class="input is-medium"
                                                        placeholder="End Date">
                                                    <span class="icon is-right is-medium">
                                                        <i class="im im-icon-Calendar-4"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="field mb-10">
                                        <label class="label dark-text">Project Meta</label>
                                        <div class="columns is-vcentered is-fieldset">
                                            <div class="column is-3">
                                                <div class="field-label">Project Name*</div>
                                            </div>
                                            <div class="column is-9">
                                                <input type="text" class="input is-medium">
                                            </div>
                                        </div>
                                        <div class="columns is-fieldset">
                                            <div class="column is-3">
                                                <div class="field-label">Description*</div>
                                            </div>
                                            <div class="column is-9">
                                                <textarea class="textarea" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="form-footer">
                                        <button type="submit" class="button is-modal">Create Training</button>
                                    </div>
    
                                </form>
                                <!-- /New Project form -->
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <button class="modal-close is-large is-hidden" aria-label="close"></button>
    </div>
    <style>
        .searchbox {
            visibility: hidden;
        }
    </style>
    <!-- Reminder Modal --><!-- Create Task Modal -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
