{% load static %}

<div class="columns is-multiline">
	<!-- All Project Display -->
	{% for project in projects %}
	<!-- Project card -->
	<div class="column is-4">
		<div class="flex-card light-bordered light-shadow team-card card-overflow">
			<div class="header">
				<a href="{{ project.get_absolute_url }}">
					<h4 class="no-margin-bottom">{{ project.name|title }}</h4>
				</a>
				<!-- Project card dropdown -->
				<div class="dropdown is-right dropdown-trigger styled-dropdown is-round">
					<div class="button">
						<i class="material-icons">more_vert</i>
					</div>
					<div class="dropdown-menu is-text-bigger has-text-left"
					     role="menu">
						<div class="dropdown-content">
							<a href="{{ project.get_absolute_url }}"
							   class="dropdown-item">
								<i class="sl sl-icon-share-alt text-primary"></i>
								<span>
									<span class="dark-text">View project</span>
                                    <span>View details of this project</span>
								</span>
							</a>
							<a href="#"
							   class="dropdown-item modal-trigger"
							   onClick="populateProjectForm('{{ program.slug }}', '{{ project.slug }}');"
							   data-modal="update-project-modal"
							>
								<i class="sl sl-icon-note text-success"></i>
								<span>
                                    <span class="dark-text">Edit project</span>
									<span>Update project details</span>
								</span>
							</a>
							<a href="#"
							   class="dropdown-item modal-trigger"
							   onClick="deleteProjectAction('{{ program.slug }}', '{{ project.slug }}');"
							   data-modal="delete-project-modal"
							>
								<i class="sl sl-icon-ban text-danger"></i>
								<span>
                                    <span class="dark-text">Delete</span>
									<span>Remove this project</span>
								</span>
							</a>
							<div class="dropdown-divider bg-info"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="team-info">
				{{ project.count_sub_projects }} Sub-projects,
				{{ project.count_beneficiaries }} Beneficiaries
			</div>
			<div class="project-members">
				{% if project.image_file %}
					<div class="face">
						<img src="https://via.placeholder.com/250x250" alt="" data-demo-src="{{ project.image_file.url }}">
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<div class="pagination align-center" style="align-content: center;">
	<hr />
	<span style="font-size: x-large;" class="step-links">
		{% if projects.has_previous %}
		<a  style="padding: .2em; border-radius: 5px; padding-right: 0.3em; padding-left: 0.3em; color: white; background: #21546d; border-color: #21546d; font:200;" href="?project_page=1">&laquo;&laquo; first</a>
		<a style="padding: .2em; border-radius: 50px; padding-right: 0.3em; padding-left: 0.3em; color: white; background: #21546d; border-color: #21546d; font:200;" href="?project_page={{ projects.previous_page_number }}" data-title="previous page">&laquo;</a>
		{% endif %}
		
		<span class="current" style="color: #21546d;">
			{{ projects.number }} of {{ projects.paginator.num_pages }}.
		</span>
		{% if projects.has_next %}
		<a style="padding: .2em; border-radius: 50px; padding-right: 0.3em; padding-left: 0.3em; color: white; background: #21546d; border-color: #21546d; font:200;" href="?project_page={{ projects.next_page_number }}" data-title="next page">&raquo;</a>
		<a style="padding: .2em; border-radius: 5px; padding-right: 0.3em; padding-left: 0.3em; color: white; background: #21546d; border-color: #21546d; font:200;" href="?project_page={{ projects.paginator.num_pages }}">last &raquo;&raquo;</a>
		{% endif %}
	</span>
</div>