{% extends "layouts/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block title %} Document List {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/data-tables/DataTables-1.11.4/css/dataTables.bootstrap5.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/data-tables/Buttons-2.2.2/css/buttons.bootstrap5.min.css' %}">
<style>
    .dataTables_wrapper .dt-buttons {
        float: none;
        text-align: center;
    }

    .dt-button {
        -webkit-tap-highlight-color: transparent;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        box-sizing: inherit;
        cursor: pointer;
        display: flex;
        color: inherit;
        text-decoration: none;
    }
</style>
{% endblock stylesheets %}

<!-- PAGE content goes HERE -->
{% block content %}
{% include 'includes/training-create-modal.html' %}
{% include 'includes/training-detail-modal.html' %}
{% include 'includes/sub-project-training-update-modal.html' %}
{% include 'includes/sub-project-training-delete-modal.html' %}

<div id="dashboard-wrapper" class="dashboard-outer">
	<div class="dashboard-inner">
		<!-- Dashboard Wrapper -->
		<div class="dashboard-wrapper">
			<div id="main-dashboard" class="section-wrapper">
				<!-- Dashboard content -->
				<div id="basic-layout" class="columns is-mobile dashboard-columns">

					<div class="column is-9 is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
						<div class="contacts-title-wrapper">
							<div class="title-wrap">
								<h2 class="project-title">SubProject Training Schedules</h2>
								<h4 class="project-tagline">showing all subproject related training schedules.</h4>
							</div>
							<!-- Filter input -->
							<div class="list-filter">
								<div class="list-header">
									<div class="list-title">
										<!-- <span>Trainings </span> -->
										<div data-title="Add new training"
										     class="add-button modal-trigger"
										     data-modal="create-project-modal">
											<i class="material-icons">add</i>
										</div>
									</div>
								</div>
								<a class="button btn-dash primary-btn btn-dash raised has-icon"
								   data-ripple-color=""
								   href="{% url 'tralard:subproject-manage' project_slug subcomponent_slug subproject_slug %}">
									<i class="material-icons">short_text</i>
									Back to SubProject
								</a>
							</div>
						</div>
						<div class="is-document-list" id="training-content">
							<!-- Training table -->
							{% include 'includes/training/training-table.html' %}
						</div>
					</div>

					<!-- Right side menu -->
					<div class="column is-3 is-three-quarters-mobile is-two-thirds-tablet is-4-desktop is-6-widescreen">
						<div style="margin-top: 6em;" class="right-options">
							<a href="#">
								<button type="button"
								        class="button button-cta secondary-btn is-fullwidth is-bold raised">
									Quick Actions
								</button>
							</a>
							<div class="container d-flex mt-1">
								<div class="row align-items-start mx-auto is-responsive">
									<div class="col excel-cell my-1"></div>
									<div class="col csv-cell my-1"></div>
								</div>
								<div class="row align-items-start mx-auto is-responsive">
									<div class="col pdf-cell my-1"></div>
									<div class="col print-cell my-1"></div>
								</div>
							</div>
							<!-- Actions list -->
							<div id="default-controls" class="controls">
								<a class="control-block modal-trigger" data-modal="create-project-modal">
									<i class="material-icons text-primary">add</i> Schedule New Training
								</a>
								<a class="control-block">
									<i class="sl sl-icon-cloud-upload text-primary"></i> Upload Training List
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

  const fullDate = new Date();
  const origin = location.origin;
  const delay_by_in_ms = 700

  const getCurrentDate = () => {
    let twoDigitMonth = (fullDate.getMonth() + 1) + "";
    if (twoDigitMonth.length == 1) twoDigitMonth = "0" + twoDigitMonth;
    let twoDigitDate = fullDate.getDate() + "";
    if (twoDigitDate.length == 1) twoDigitDate = "0" + twoDigitDate;
    return `${twoDigitDate}-${twoDigitMonth}-${fullDate.getFullYear()}`
  }

  /** ---------------------| SubProject Training DataTable Management |----------------------------
   * @author Gift Jr
   * @description Sorting, Filtering and Document managment utility using JQuery DataTables to provide
   *              off the shelf table operations i.e. pagination, CRUD and other configurations
   * @since 06.02.22
   * @see https://datatables.net/reference/api/
   * */
  let trainingTable;
  $(document).ready(function ($) {
    trainingTable = $('#training-tbl').DataTable({
      orderCellsTop: true,
      pagingType: "full_numbers",
      autoWidth: true,
      responsive: true,
      sDom: "ltipr", // define components to be displayed on the table, here we've excluded default search bar
      "aoColumns": [
        {"bSortable": true},
        {"bSortable": true},
        {"bSortable": true},
        {"bSortable": true},
        {"bSortable": true},
        {"bSortable": false}, // exclude sorting on the training action column
      ],
      dom: 'Brtip', // lets add document export buttons to our training table
      buttons: [
        {
          extend: 'print',
          text: '<i class="sl sl-icon-printer text-primary"></i> Print',
          exportOptions: {
            columns: [0, 1, 2, 3, 4]
          }
        },
        {
          extend: 'excelHtml5',
          title: 'TrainingListExcel-' + getCurrentDate(),
          text: '<i class="sl sl-icon-doc text-success"></i> Excel',
          exportOptions: {
            columns: [0, 1, 2, 3, 4]
          }
        },
        {
          extend: 'pdfHtml5',
          title: 'TrainingListPDF-' + getCurrentDate(),
          text: '<i class="sl sl-icon-doc text-danger"></i>PDF',
          exportOptions: {
            columns: [0, 1, 2, 3, 4]
          }
        },
        {
          extend: 'csvHtml5',
          title: 'TrainingListCsv-' + getCurrentDate(),
          text: '<i class="sl sl-icon-doc text-info"></i>CSV',
          exportOptions: {
            columns: [0, 1, 2, 3, 4]
          }
        },
      ],
      initComplete: function () {
        const api = this.api()

        //displace buttons to action cards
        $(".excel-cell").append($('.buttons-excel'));
        $(".csv-cell").append($('.buttons-csv'));
        $(".pdf-cell").append($('.buttons-pdf'));
        $(".print-cell").append($('.buttons-print'));

        //filter only title, subproject and training type columns
        api.columns([0, 1, 2]).eq(0).each(function (colIdx) {
          // Set the filter header cells to contain the input element
          const cell = $('.filters th').eq(
            $(api.column(colIdx).header()).index()
          );
          const title = $(cell).text();
          //search filter markup
          $(cell).html(
            '<div class="mx-auto px-1">' +
            '<input class="input is-small is-rounded"' +
            'type="text" placeholder="Search&nbsp;' + title + '" />' +
            '</div>'
          );

          // On every keypress in this input
          $('input', $('.filters th').eq($(api.column(colIdx).header()).index()))
            .off('keyup change')
            .on('keyup change', function (e) {
              e.stopPropagation();
              // Get the search value
              $(this).attr('title', $(this).val());
              const regexr = '({search})';
              const cursorPosition = this.selectionStart;
              // Search the column for that value
              api.column(colIdx).search(
                this.value != ''
                  ? regexr.replace('{search}', '(((' + this.value + ')))')
                  : '',
                this.value != '',
                this.value == ''
              ).draw();

            })

        })
      }
    })
  })

</script>
{% endblock javascripts %}
