{% load static %}
<div id="user-delete-modal123" class="modal modal-md icon-action-modal modal-hero">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="flex-card simple-shadow">
            <div class="help-text has-text-left">
                <h2 class="dark-text">Delete User <i id="username123"></i> </h2>
            </div>
            <div class="card-body">
                <div class="has-text-centered">
                    <div class="image">
                        <img src="{% static 'assets/images/icons/basket.svg' %}">
                    </div>
                </div>
                <form id="user-delete-form123" class="form" method="post">
                    {% csrf_token %}
                    <div id="warning-msg">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button  class="modal-close is-large is-hidden" aria-label="close" onClick="handleBeneficiaryForm('CLEAR_FORM', '{{project.program.slug}}', '{{project.slug}}');"></button>
</div>